<form action="{{Producto.id}}" method="POST">{% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-2">
        <label for="id">Código producto</label>
        <input type="text" class="form-control" name="id" id="id" value={{Producto.id}}>
        </div>
        <div class="form-group col-md-2">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" value={{Producto.nombre}}>
        </div>
        <div class="form-group col-md-2">
            <label for="unidad">Unidad</label>
            <input type="text" class="form-control" id="unidad" name="unidad" value={{Producto.unidad}}>
            </div>
            
    </div>
    
      <br>
   <h2>Agregar nuevo precio</h2>
    <div class="form-row">
        <div class="form-group col-md-2">
        <label for="precio">Precio</label>
        <input type="text" class="form-control" id="precio" name="precio">
        </div>
        <div class="form-group col-md-2">
            <label for="moneda">Moneda</label>
            <input type="text" class="form-control" id="moneda" name="moneda">
        </div>
        <div class="form-group col-md-2">
        <label for="proveedor">Proveedor</label>
        <input type="text" class="form-control" id="proveedor" name="proveedor">
        </div>
        <div class="form-group col-md-6">
            <label for="comentario">Comentarios</label>
            <input type="text" class="form-control" id="comentario" name="comentario">
        </div>
    </div>
    <input class="btn btn-primary" type="Submit" value="Guardar">
</form>