{% extends "base/base2.html" %}
{% block title %} NUEVO PROVEEDOR {% endblock%}
{% block content %}

<head>
	<title>Crear producto</title>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{% static 'planificador/css/crear_producto.css' %}" rel="stylesheet">
</head>


<div class="container">
  <div class="title">CREAR PRODUCTO</div>
  <br>
  <form action="agregar_nuevo" method="GET">
    <div class="user-details">
        <div class="input-box">
          <span class="details">NOMBRE (*)</label>
          <input type="text" name="nombre" placeholder="Nombre de producto. Ej: PERNO HEX Gº5 UNC 5/8-11X4.1/2" required>
        </div>
        <div class="input-box">
          <span class="details">UNIDAD</label>
          <select class="custom-select" id="unidad" name="unidad">
            <option selected>ELEGIR UNIDAD</option>
            <option value="Kilos">Kilos</option>
            <option value="Unidad">Unidad</option>
            <option value="Metros">Metros</option>
            <option value="Litros">Litros</option>
            <option value="Días">Días</option>
            <option value="Horas">Horas</option>
            <option value="Par">Par</option>
            <option value="Bolsas">Bolsas</option>
          </select>
        </div>
        <div class="input-box">
          <span class="details">PESO UNITARIO</label>
          <input type="text" name="peso" placeholder="Peso unitario de producto en kilos. Ej: 50">
        </div>
        <div class="input-box">
          <span class="details">SUB-CLASE (*)</label>
          <br>
              <select class="custom-select" id="subclase" name="subclase" required>
                <option selected>ELEGIR CLASE</option>
                {% for fila in lista_clases %}
                <option value="" disabled>CLASE: {{fila.0.nombre}}</option>
                  {% for i in fila.1 %}
                    <option value="{{i.nombre}}">{{i.nombre}}</option>
                  {% endfor %} 
                {% endfor %} 
              </select>
          
        </div>
    </div>
    <br>
      <button class="button" type="submit">CREAR</button>
  </form>
  </div>
 
{% endblock%}