{% extends "base/base2.html" %}
{% block title %} NUEVO PROVEEDOR {% endblock%}
{% block content %}

<head>
	<title>Crear producto</title>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com"> 

	<link href="{% static 'planificador/css/crear_producto.css' %}" rel="stylesheet">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>


<div class="container">
  <div class="title">CREAR PRODUCTO</div>
  <br>
  <form action="agregar_nuevo" method="GET">
    <div class="user-details">
        <div class="input-box">
          <span class="details">CÓDIGO</label>
          <input type="text" name="id" placeholder="Ingresa código de producto" required>
        </div>
        <div class="input-box">
          <span class="details">NOMBRE</label>
          <input type="text" name="nombre" placeholder="Ingresa nombre de producto" required>
        </div>
        <div class="input-box">
          <span class="details">UNIDAD</label>
          <input type="text" name="unidad" placeholder="Ingresa unidad de producto" required>
        </div>
        <div class="input-box">
          <span class="details">PESO UNITARIO</label>
          <input type="text" name="peso" placeholder="Peso unitario de producto en kilos" required>
        </div>
        <div class="input-box">
          <span class="details">SUB-CLASE</label>
          <br>
              <select class="custom-select" id="subclase" name="subclase" required>
                <option selected>ELEGIR CLASE</option>
                {% for fila in lista_clases %}
                <option value="" disabled>CLASE: {{fila.0.nombre}}</option>
                  {% for i in fila.1 %}
                    <option value="{{i.nombre}}">{{i.nombre}}</option>
                  {% endfor %} 
                {% endfor %} 
              </select>
          
        </div>
    </div>
    <br>
      <button class="button" type="submit">Crear</button>
  </form>
  </div>
 
{% endblock%}