{% extends "base.html" %}
{% block title %} NUEVO PRODUCTO {% endblock%}
{% block content %}
<h1>Crear nuevo producto</h1>
<form action="agregar_nuevo" method="GET">
    <div class="form-row">
        <div class="form-group col-md-2">
        <label for="id">Código</label>
        <input type="text" class="form-control" id="id" name="id">
        </div>
        <div class="form-group col-md-2">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" class="form-control" id="nombre">
        </div>
       
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="subclase">Sub-clase</label>
            </div>
            <select class="custom-select" id="subclase" name="subclase" required>
              <option selected>Elegir sub-clase</option>
              {% for fila in Subclases %}
                <a class="dropdown-item" href="#">{{fila.nombre}}</a>
                <option value="{{fila.nombre}}" >{{fila.nombre}}</option>
              {% endfor %} 
            </select>
          </div>
        <div class="form-group col-md-2">
            <label for="unidad">Unidad</label>
            <input type="text" name="unidad" class="form-control" id="unidad">
        </div>
        <div class="form-group col-md-2">
          <label for="peso">Peso unitario (kg)</label>
          <input type="text" name="peso" class="form-control" id="peso">
      </div>
    </div>
    <button class="btn btn-secondary btn-lg btn-block" type="submit">Crear</button>
    </form>
{% endblock%}