{% extends "base/base2.html" %}
{% block title %} NUEVO PROVEEDOR {% endblock%}
{% block content %}

<head>
	<title>EDITAR PRODUCTO - {{Producto.nombre}</title>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com"> 

	<link href="{% static 'planificador/css/editar_producto.css' %}" rel="stylesheet">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>
<button class="atras" onclick="goBack()"><i class="arrowleft"></i></button>

<script>
function goBack() {
  window.history.back();
}
</script> 
<div class="container">
  <div class="title">EDITAR - {{Producto.nombre}}</div>
  <br>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="user-details">
        <div class="input-box">
          <span class="details">UNIDAD</label>
            {{form.unidad}}
        </div>
        <div class="input-box">
          <span class="details">KILOS</label>
            {{form.kilos}}
        </div>
        <div class="input-box">
          <span class="details">IMAGEN</label>
            {{form.imagen}}
        </div>
            </div>
    <br>
      <button class="button" type="submit">Actualizar</button>
  </form>
  </div>

    
{% endblock%}