{% extends "base.html" %}
{% block title %}
{% endblock%}
{% block content %}
    {% load static %}

    <div class="card text-center">
        <div class="card-header">
            {{Producto.nombre}}
            <a href="{% url 'mostrar_edicion_producto' Producto.id %}" class="btn btn-primary">Editar</a>
            <a href="{% url 'eliminar_producto' Producto.id %}" class="btn btn-primary">Eliminar</a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Información general</h5>
          <p class="card-text">
              ID: {{Producto.id}}
              <br>
              Clase: {{Clase}}
              <br>
              Sub-Clase: {{Subclase}}
              <br>
              Unidad: {{Producto.unidad}}
          </p>
        </div>
    </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Historial de precios
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Fecha creación</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Moneda</th>
                            <th scope="col">Proveedor</th>
                            <th scope="col">Comentarios</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for fila in lista_precios %}
                    <tr>
                  <th>{{fila.fecha}}</a></th>
                  <th> {{fila.valor}}</th>
                  <th>{{fila.tipo_cambio}}</th>
                  <th>{{fila.nombre_proveedor}}</th>
                  <th>{{fila.comentarios}}</th>

                      {% endfor %}  
            </tr>
                    </tbody>
            </table>
                
            </div>
          </div>
        </div>
 

{% endblock %}
