{% extends "base/base2.html" %}
{% block content %} 
<head>
	<title>PRODUCTOS</title>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link href="{% static 'planificador/css/productos.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
</head>

<div class="title">
    <h1>PRODUCTOS</h1>
</div>
<div class="subtitle">
    <h4>{{len}} productos</h4>
</div>


<div class="table-container">
       <br>
        <a href="{% url 'nuevo_producto' %}">
            <button class="button_añadir">AGREGAR</button>
        </a>
        <a href="{% url 'nuevo_producto_planilla' %}">
            <button class="button_añadir">CARGA MASIVA</button>
        </a>
        <a href="{% url 'nuevo_producto_interno_planilla' %}">
            <button class="button_añadir">CARGA PRODUCTOS INTERNOS</button>
        </a>
        <a href="{% url 'nuevo_proveedor_producto' %}">
            <button class="button_añadir">SKU RMC</button>
        </a>
        <a href="{% url 'mostrar_ubicaciones' %}">
            <button class="button_añadir">UBICACIONES</button>
        </a>
      
    <br>
    <br>
    <table class="table" id="example" class="display">
        <thead>
            <tr>
                <th>CÓDIGO</th>
                <th>NOMBRE</th>
                <th>SUBCLASE</th>
                <th>CLASE</th>
           
            </tr>
        </thead>
        <tbody>
            {% for obj in myFilter.qs %}
            <tr>
                <td data-label="CÓDIGO"><a href="{% url 'producto' obj.id_producto %}">{{obj.id_producto}}</a></td>
                <td data-label="NOMBRE"> {{obj.nombre_producto}}</td>
                <td data-label="SUBCLASE"> {{obj.nombre_subclase}}</td>
                <td data-label="CLASE"> {{obj.nombre_clase}}</td>
                
                
                
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        document.querySelector("tr td .menu ul li").addEventListener("click", function(){
                this.classList.toggle("active");
        });
    </script>
</div>

        
        <script>$(document).ready(function() {
            $('#example').DataTable( {
                "pagingType": "full_numbers"
            } );
        } );</script>

<script>
    $('.btn').click(function(){
        $(this).toggleClass("click");
        $('.sidebar').toggleClass("show");
    });
        $('.feat-btn').click(function(){
        $('nav ul .feat-show').toggleClass("show");
        $('nav ul .first').toggleClass("rotate");
        });
        $('.serv-btn').click(function(){
        $('nav ul .serv-show').toggleClass("show1");
        $('nav ul .second').toggleClass("rotate");
        });
        $('nav ul li').click(function(){
        $(this).addClass("active").siblings().removeClass("active");
        });

</script>
    
{% endblock%}
