{% extends "base.html" %}
{% block title %} PRODUCTOS {% endblock%}
{% block content %}             
    <ul class="list-group list-group-flush">
        <a href="{% url 'nuevo_producto' %}" class="btn btn-primary">Añadir producto</a>
        <a href="{% url 'nuevo_proveedor_producto' %}" class="btn btn-primary">Añadir nombre proveedor-productos</a>
            <h1>PRODUCTOS</h1>
                <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Código</th>
                                <th scope="col">Nombre</th>
                            </tr>
                        </thead>
                        <tbody>       
                        {% for fila in Productos %}
                        <tr>
                            <th><a href="{% url 'producto' fila.id %}">{{fila.id}}</a></th>
                            <th> {{fila.nombre}}</th>
                        {% endfor %}
                        </tr>
                        
                          </tbody>
                </table>
                
        </ul>
        <form action="productos" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file"
                   title="Upload excel file"
                   name="excel_file"
                   >
            <p>
            <input type="submit"
                   value="Upload"
                   >
        </form>
    
        
        
{% endblock%}
