{% extends "base/base2.html" %}
{% load widget_tweaks %}
{% block content %} 
<head>
	<title>{{Producto.nombre}}</title>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="{% static 'planificador/css/producto.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>

<div class="title">
  <h1>PRODUCTOS</h1>
</div>

<div class="subtitle">
  <h4>Productos | {{Producto.nombre}}</h4>
</div>
<div class="container">
  <div class="imagen_container">
    {% if Producto.imagen %}
    <img src="{{ Producto.imagen.url}}" alt="connect" class="imagen">
    {% endif %}
  </div>
  <div class="data-container">
<div class="table-container">
  <div class="title_container">
    <h1>{{Producto.nombre}}</h1>
  </div>

    <a href="{% url 'mostrar_edicion_producto' Producto.id %}">
      <button class="button_editar">Editar</button>
    </a>
    <a href="{% url 'eliminar_producto' Producto.id %}" onclick="return confirm('¿Estás seguro que quieres eliminar el producto?')">
      <button class="button_eliminar">Eliminar</button>
  </a>
  <div class="informacion_container">
    <h4>INFORMACIÓN GENERAL</h4>
  </div>
  <table class="table">
    <thead>
        <tr>
            <th>CÓDIGO</th>
            <th>NOMBRE</th>
            <th>CLASE</th>
            <th>SUB-CLASE</th>
            <th>UNIDAD</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="CÓDIGO">{{Producto.id}}</td>
            <td data-label="NOMBRE"> {{Producto.nombre}}</td>
            <td data-label="CLASE"> {{Clase}}</td>
            <td data-label="SUB-CLASE"> {{Subclase}}</td>
            <td data-label="UNIDAD"> {{Producto.unidad}}</td>
        </tr>
    </tbody>
</table>
</div>
<br>
<br>
<div class="table-container">
  <div class="informacion_container">
    <h4>HISTORIAL PRECIOS</h4>
  </div>
    <table class="table2">
    <thead>
        <tr>
            <th>FECHA CREACIÓN</th>
            <th>VALOR UNITARIO</th>
            <th>MONEDA</th>
            <th>PROVEEDOR</th>
        </tr>
    </thead>
    <tbody>
      {% for fila in lista_precios %}
        <tr>
            <td data-label="FECHA CREACIÓN">{{fila.fecha}}</td>
            <td data-label="VALOR UNITARIO"> {{fila.valor}}</td>
            <td data-label="MONEDA">{{fila.tipo_cambio}}</td>
            <td data-label="PROVEEDOR"> {{fila.nombre_proveedor}}</td>
            {% endfor %}  
        </tr>
    </tbody>
</table>
</div>   
<br>
<br>  
<div class="table-container">
  <div class="informacion_container">
    <h4>NOMBRE PROVEEDORES</h4>
  </div>
    <table class="table2">
    <thead>
        <tr>
            <th>PROVEEDOR</th>
            <th>NOMBRE</th>
        </tr>
    </thead>
    <tbody>
      {% if nombre_proveedor != "" %}
        {% for fila in nombre_proveedor %}
          <tr>
              <td data-label="PROVEEDOR">{{fila.producto.nombre}}</td>
              <td data-label="NOMBRE"> {{fila.nombre_proveedor}}</td>
              {% endfor %}  
          </tr>
      {% endif %}
    </tbody>
</table>
</div>
</div>
</div>
        </div>
 
  
{% endblock %}
