{% extends "base/base2.html" %}
{% block content %} 
<head>
	<title>Resultado planilla</title>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="{% static 'planificador/css/resultado_planilla_proveedor_productos.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<div class="title">
    <h1>RESULTADO PLANILLA</h1>
</div>
<br>
{% if Booleano %}
<div class="container">
    <div class="table-container">
        <div class="informacion_container">
            <h4>DETALLE ERRORES</h4>
          </div>
          <table class="table">
            <thead>
                <tr>
                    <th>NOMBRE PRODUCTO RMC</th>
                    <th>NOMBRE PRODUCTO PROVEEDOR</th>
                    <th>NOMBRE PROVEEDOR</th>
                    <th>RAZÓN ERROR</th>
                </tr>
            </thead>
            <tbody>
                {% for fila in Fallo %}
                <tr>
                   
                    <td data-label="NOMBRE PRODUCTO RMC">{{fila.0}}</td>
                    <td data-label="NOMBRE PRODUCTO PROVEEDOR"> {{fila.2}}</td>
                    <td data-label="NOMBRE PROVEEDOR">{{fila.1}}</td>
                    <td data-label="RAZÓN ERROR">{{fila.3}}</td>
                </tr>
                    {% endfor %}  
                
            </tbody>
        </table>
    </div>
</div>
{% else %}
<div class="no-error">
    Planilla subida correctamente
</div>
    {% endif %}


{% endblock %}
