{% extends "base/base2.html" %}
{% block content %} 
<head>
	<title>{{atributo.nombre}}</title>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="{% static 'planificador/css/producto.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
</head>

<div class="title">
  <h1>PRODUCTOS</h1>
</div>

<div class="subtitle">
  <h4>Atributos | {{atributo.nombre}}</h4>
</div>
<div class="container">
  <div class="data-container">
<div class="table-container">
  <div class="title_container">
    <h1>{{atributo.nombre}}</h1>
  </div>
  <a href="{% url 'mostrar_edicion_atributo' atributo.nombre %}">
    <button class="button_editar">EDITAR</button>
  </a>
  <a href="{% url 'eliminar_atributo' atributo.nombre %}" onclick="return confirm('¿Estás seguro que quieres eliminar el atributo?')">
    <button class="button_eliminar">ELIMINAR</button>
</a>
  <div class="informacion_container">
    <h4>INFORMACIÓN GENERAL</h4>
  </div>
  <table class="table">
    <thead>
        <tr>
            <th>NOMBRE</th>
            <th>ABREVIACIÓN</th>
            <th>UNIDAD</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="NOMBRE"> {{atributo.nombre}}</td>
            <td data-label="ABREVIACIÓN"> {{atributo.abreviacion}}</td>
            <td data-label="UNIDAD"> {{atributo.unidad}}</td>
        </tr>
    </tbody>
</table>
</div> 
</div>
</div>
{% endblock %}
