{% extends "base/base2.html" %}
{% block content %} 
<head>
	<title>IMPORTACIONES</title>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="{% static 'planificador/css/importaciones.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

</head>

<div class="title">
    <h1>IMPORTACIONES</h1>
</div>
<div class="subtitle">
    <h4>{{len}} importaciones</h4>
</div>
<div class="table-container">
   
        <a href="{% url 'crear_atributo' %}">
        <button class="button_añadir">CREAR ATRIBUTO</button>
        </a>
        <a href="{% url 'crear_calculo' %}">
            <button class="button_añadir">CREAR CÁLCULO</button>
            </a>
         <!---
        <a href="{% url 'anadir_importacion' %}">
            <button class="button_añadir">AÑADIR IMPORTACIÓN HECHA</button>
        </a>
        <a href="{% url 'tarifarios' %}">
            <button class="button_añadir">VER TARIFARIOS DHL</button>
        </a>
        <a href="{% url 'nueva_importacion_planilla' %}">
            <button class="button_añadir">CARGA TARIFARIOS DHL</button>
        </a>
    -->
    <br>
    <br>
    <h3>IMPORTACIONES</h3>
<table class="table" id="example" class="display">
    <thead>
        <tr>
            <th>CÓDIGO</th>
            <th>ORIGEN</th>

        </tr>
    </thead>
    <tbody>
       
        <tr>
           tabla
        </tr>
    </tbody>
</table>
<br>
<br>
<h3>COTIZACIONES DE IMPORTACIONES DHL</h3>

</div>

{% endblock%}
