{% extends "base/base2.html" %}
{% block content %} 
<head>
	<title>CÁLCULOS</title>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="{% static 'planificador/css/importaciones.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

</head>

<div class="title">
    <h1>CÁLCULOS</h1>
</div>
<div class="table-container">
    <h3>CREAR</h3>
        <a href="{% url 'crear_atributo' %}">
        <button class="button_añadir">CREAR ATRIBUTO</button>
        </a>
        <a href="{% url 'crear_calculo' %}">
            <button class="button_añadir">CREAR CÁLCULO</button>
            </a>
        <a href="{% url 'crear_control_riesgo' %}">
            <button class="button_añadir">CREAR CONTROL RIESGO</button>
        </a>
        <a href="{% url 'crear_instalacion' %}">
            <button class="button_añadir">CREAR INSTALACIÓN</button>
        </a>
    <a href="{% url 'crear_instalacion_proyecto' %}">
        <button class="button_añadir">CREAR INSTALACIÓN-PROYECTO</button>
        </a>
    <br>
    <br>
    <h3>VISTAS</h3>
    <a href="{% url 'mostrar_atributos' %}">
        <button class="button_añadir">ATRIBUTOS</button>
        </a>
        <a href="{% url 'mostrar_calculos' %}">
            <button class="button_añadir">CALCULOS</button>
        </a>
        <a href="{% url 'mostrar_restricciones' %}">
            <button class="button_añadir">RESTRICCIONES</button>
        </a>
    <h3>CÁLCULOS</h3>
<table class="table" id="example" class="display">
    <thead>
        <tr>
            <th>CÓDIGO</th>
            <th>ORIGEN</th>

        </tr>
    </thead>
    <tbody>
        <tr>
           tabla
        </tr>
    </tbody>
</table>
<br>
<br>


</div>

{% endblock%}
