{% extends "base/base2.html" %}
{% block title %} NUEVA INSTALACIÓN {% endblock%}
{% block content %}

<head>
	<title>CREAR INSTALACIÓN</title>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{% static 'planificador/css/crear_orden_compra.css' %}" rel="stylesheet">
</head>


<div class="container">
<form action="" method="post">{% csrf_token %}
  <div class="title">CREAR INSTALACIÓN</div>
  <br>
    <div class="user-details">
        <div class="input-box">
          <span class="details">NOMBRE</label>
            <input type="text" name="nombre" required>
        </div>
          <table class="table">
            <thead>
                <tr>
                    <th>NOMBRE</th>
                    <th>TIPO</th>
                </tr>
            </thead>
            <tbody>
        
              {% for producto in Deteccion %}
                <tr>
                    <td data-label="NOMBRE"><input type="checkbox" name="control_riesgo" value="{{producto.nombre}}">{{producto.nombre}}</td>
                    <td data-label="CATEGORÍA"> {{producto.categoria}}</td>
                </tr>
            {% endfor %}
         
            {% for producto in Extinción %}
            <tr>
                <td data-label="NOMBRE"><input type="checkbox" name="control_riesgo" value="{{producto.nombre}}">{{producto.nombre}}</td>
                <td data-label="CATEGORÍA"> {{producto.categoria}}</td>
            </tr>
            {% endfor %}
            
            {% for producto in Riesgo %}
            <tr>
                <td data-label="NOMBRE"><input type="checkbox" name="control_riesgo" value="{{producto.nombre}}">{{producto.nombre}}</td>
                <td data-label="CATEGORÍA"> {{producto.categoria}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>
    <br>
      <button class="button" type="submit">CREAR</button>
  </form>
  </div>
 
{% endblock%}