{% extends "base/base2.html" %}
{% block title %} NUEVO CONTROL RIESGO {% endblock%}
{% block content %}

<head>
	<title>EDITAR CÁLCULOS RIESGO</title>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{% static 'planificador/css/crear_orden_compra.css' %}" rel="stylesheet">
</head>


<div class="container">
<form action="" method="POST">{% csrf_token %}
  <div class="title">EDITAR CÁLCULOS CONTROL RIESGO</div>
  <br>
    <input type="hidden" name="nombre_control" value="{{Control_riesgo.nombre}}">
    <div class="user-details">
        <div class="input-box">
            {% for i in calculos %}
            <input type="checkbox" name="calculos" value="{{i.nombre}}"> {{i.nombre}}
            {% endfor %}
          </div>
      </div>
    <br>
      <button class="button" type="submit">ELEGIR RESTRICCIONES</button>
  </form>
  </div>
 
{% endblock%}