{% extends "base.html" %}
{% block title %} NUEVO PROVEEDOR {% endblock%}
{% block content %}
<h1>Crear nuevo grupo</h1>

<form action="" method="POST"> {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-2">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" class="form-control" id="nombre">
        </div>
       
    </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Grupo
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            {% for i in usuarios %}
              <input type="checkbox" name="usuario" value="{{i.username}}">{{i.nombre}}{{i.apellido}}
           {% endfor %}
        </div>
      </div>
    
    <button class="btn btn-secondary btn-lg btn-block" type="submit">Crear</button>
    </form>
{% endblock%}