{% extends "base/base2.html" %}
{% block title %}EDITAR INFORMACIÓN USUARIO{% endblock%}
{% block content %}


<head>
	<title>Login</title>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com"> 

	<link href="{% static 'planificador/css/editar_usuario.css' %}" rel="stylesheet">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>

<div class="container">
  <div class="title">EDITAR DATOS USUARIO</div>
  <br>
<form action="" method="POST"> {% csrf_token %}
  <div class="user-details">
    <div class="input-box">
      <span class="details">NOMBRE</label>
      <input type="text" name="nombre" value={{Usuario.nombre}} required>
    </div>
    <div class="input-box">
      <span class="details">APELLIDO</label>
      <input type="text" name="apellido" value={{Usuario.apellido}} required>
    </div>
    <div class="input-box">
      <span class="details">SEGUNDO APELLIDO</label>
      <input type="text" name="segundo_apellido" value={{Usuario.segundo_apellido}} required>
    </div>
    <div class="input-box">
      <span class="details">CELULAR</label>
      <input type="text" name="celular" value={{Usuario.celular}} required>
    </div>
    <div class="input-box">
      <span class="details">TELEFONO FIJO</label>
      <input type="text" name="telefono" value={{Usuario.telefono}} required>
    </div>
    <div class="input-box">
      <span class="details">CARGO</label>
      <input type="text" name="cargo" value={{Usuario.cargo}} required>
    </div>
</div>
  <br>

  <button class="button" type="submit">Editar</button>
</div>


</form>

{% endblock%}