{% extends "base.html" %}

{% load static %}

{% block content %}

    <!-- Message -->
    <section class="page-section cta">
        <h1>BIENVENIDO A LA PÁGINA PLANIFICADOR</h1>
        <br>
        <br>
        <h2>AGREGAR SUB-CLASES</h2>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file"
                   title="Upload excel file"
                   name="excel_file"
                   >
            <p>
            <input type="submit"
                   value="Upload"
                   >
        </form>
    </section>
{% endblock %}