{% extends "base/base2.html" %}
{% block content %} 
<head>
	<title>INICIO</title>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="{% static 'planificador/css/inicio.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
</head>

    <!-- Message -->
    <section>
        <div class="title">
            <h1>BIENVENIDO AL SOFTWARE</h1>
        </div>
        <br>
        {% if rol == "Admin" %}
        <a href="{% url 'crear_usuario' %}">
            <button class="button_añadir">Añadir usuario</button>
        </a>
        <a href="{% url 'crear_grupo' %}">
            <button class="button_añadir">Añadir grupo</button>
        </a>
        <a href="{% url 'crear_permisos' %}">
            <button class="button_añadir">Añadir permisos</button>
        </a>
        <a href="{% url 'actualizar_planilla' %}">
            <button class="button_añadir">Actualizar planilla</button>
        </a>
        {% endif %}
        <a href="{% url 'agregar_subclases' %}">
            <button class="button_añadir">Añadir sub-clases</button>
        </a>
        {% if planilla %}
            <a href="media/{{planilla}}" download="planilla_planificador">
                <button class="button_añadir">Descargar</button></a>
        {% endif %}        
    </section>
{% endblock %}