{% extends "base2.html" %}

{% load static %}

{% block content %}

    <!-- Message -->
    <section>
        <h1>BIENVENIDO A LA PÁGINA PLANIFICADOR</h1>
        <br>
        
        <a href="{% url 'crear_usuario' %}" class="btn btn-gray">Añadir usuario</a>
        <a href="{% url 'crear_grupo' %}" class="btn btn-gray">Añadir grupo</a>
        <a href="{% url 'crear_permisos' %}" class="btn btn-gray">Añadir permisos</a>
        <br>

        <h2>AGREGAR SUB-CLASES</h2>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file"
                   title="Upload excel file"
                   name="excel_file"
                   >
            <p>
            <input type="submit"
                   value="Upload"
                   >
        </form>
    </section>
{% endblock %}