{% extends "base/base2.html" %}
{% block content %} 
<head>
	<title>NOTIFICACIONES</title>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="{% static 'planificador/css/notificaciones.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>

<div class="title">
    {% if usuario.orden_compra %}
    {% if usuario.orden_compra == 0 %}
        <h1>NOTIFICACIONES</h1>
    {% else %}
        <h1>NOTIFICACIONES: {{usuario.orden_compra}} ÓRDENES DE COMPRA PENDIENTES</h1>
    {% endif %}
    {% endif %}
  </div>

  <div class="container">
    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th>NOTIFICACIÓN</th>
                    <th>FECHA</th>
                </tr>
            </thead>
            <tbody>
                {% for fila in notificacion %}
                <tr>
                    {% if fila.id_proyecto == None %}
                    <td data-label="NOTIFICACIÓN">
                        {{fila.usuario_modificacion.nombre}} {{fila.usuario_modificacion.apellido}} - {{fila.accion}} ({{fila.numero_modificado}}) - {{fila.id_modelo}}: {{fila.nombre}}
                    </td>
                    {% else %}
                    <td data-label="NOTIFICACIÓN">
                        {{fila.usuario_modificacion.nombre}} {{fila.usuario_modificacion.apellido}} - {{fila.accion}} ({{fila.numero_modificado}}) en el proyecto {{fila.id_proyecto}}
                    </td>
                    {% endif %}
                    <td data-label="FECHA">{{fila.fecha}}</td>
                    {% endfor %} 
              
                </tr>
            </tbody>
        </table>
        </div>
    </div>


{% endblock %}
