{% extends "base.html" %}
{% block title %} NUEVO PROVEEDOR {% endblock%}
{% block content %}
<h1>Editar notificaciones</h1>

<form action="" method="POST"> {% csrf_token %}
    
     
            {% for i in con %}
                <input type="checkbox" name="permiso" value="{{i}}" checked>{{i}}
                <br>
            {% endfor %}
            {% for n in sin %}
                <input type="checkbox" name="permiso" value="{{n}}">{{n}}
                <br>
            {% endfor %}

    <button class="btn btn-secondary btn-lg btn-block" type="submit">Editar</button>
    </form>
{% endblock%}