{% extends "base/base2.html" %}
{% load widget_tweaks %}
{% block content %} 
<head>
	<title>{{Usuario.nombre}}</title>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="{% static 'planificador/css/usuario.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>

<div class="title">
  <h1>PERFIL - {{Usuario.nombre}} {{Usuario.apellido}} {{Usuario.segundo_apellido}}</h1>
</div>
<div class="container">
<div class="table-container">
  <div class="boton_container">
    <a href="{% url 'editar_usuario' Usuario.correo %}">
      <button class="button_editar">Editar información</button>
    </a>
    <a href="{% url 'permisos_notificacion'  %}">
      <button class="button_editar">Editar notificaciones</button>
  </a>
  </div>
  <div class="informacion_container">
    <h4>INFORMACIÓN GENERAL</h4>
  </div>
  <table class="table">
    <thead>
        <tr>
            <th>CARGO</th>
            <th>CORREO</th>
            <th>CELULAR</th>
            <th>TELÉFONO FIJO</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="CARGO">{{Usuario.cargo}}</td>
            <td data-label="CORREO"> {{Usuario.correo}}</td>
            <td data-label="CELULAR"> {{Usuario.celular}}</td>
            <td data-label="SUB-CLASE"> {{Usuario.telefono}}</td>
        </tr>
    </tbody>
</table>
</div>
<br>
<br>
<div class="table-container">
  <div class="informacion_container">
    <h4>HISTORIAL PRECIOS</h4>
  </div>
    <table class="table2">
    <thead>
        <tr>
            <th>FECHA CREACIÓN</th>
            <th>VALOR UNITARIO</th>
            <th>MONEDA</th>
            <th>PROVEEDOR</th>
        </tr>
    </thead>
    <tbody>
      {% for fila in lista_precios %}
        <tr>
            <td data-label="FECHA CREACIÓN">{{fila.fecha}}</td>
            <td data-label="VALOR UNITARIO"> {{fila.valor}}</td>
            <td data-label="MONEDA">{{fila.tipo_cambio}}</td>
            <td data-label="PROVEEDOR"> {{fila.nombre_proveedor}}</td>
            {% endfor %}  
        </tr>
    </tbody>
</table>
</div>
<br>
<br>
<div class="table-container">
  <div class="informacion_container">
    <h4>HISTORIAL PRODUCTOS</h4>
  </div>
    <table class="table2">
    <thead>
        <tr>
            <th>NOMBRE</th>
            <th>CANTIDAD</th>
            <th>STATUS</th>
            <th>FECHA USO</th>
        </tr>
    </thead>
    <tbody>
      {% for fila in Productos %}
        <tr>
            <td data-label="NOMBRE">{{fila.proyecto.nombre}}</td>
            <td data-label="CANTIDAD"> {{fila.cantidades}}</td>
            <td data-label="STATUS">{{fila.status}}</td>
            <td data-label="FECHA USO"> {{fila.fecha_uso}}</td>
            {% endfor %}  
        </tr>
    </tbody>
</table>
</div>
<br>
<br>
<div class="table-container">
  <div class="informacion_container">
    <h4>PROYECTOS ASOCIADOS</h4>
  </div>
    <table class="table2">
    <thead>
        <tr>
            <th>NOMBRE</th>
            <th>FECHA CREACION</th>
            <th>FECHA INICIO</th>
            <th>FECHA FINAL</th>
            <th>ESTADO</th>
        </tr>
    </thead>
    <tbody>
      {% for fila in Proyectos %}
        <tr>
            <td data-label="NOMBRE">{{fila.nombre}}</td>
            <td data-label="FECHA CREACION"> {{fila.fecha_creacion}}</td>
            <td data-label="FECHA INICIO">{{fila.fecha_inicio}}</td>
            <td data-label="FECHA FINAL"> {{fila.fecha_final}}</td>
            <td data-label="ESTADO"> {{fila.estado}}</td>
            {% endfor %}  
        </tr>
    </tbody>
</table>
</div>
<br>
<br>
<div class="table-container">
  <div class="informacion_container">
    <h4>HISTORIAL COTIZACIONES</h4>
  </div>
    <table class="table2">
    <thead>
        <tr>
            <th>NOMBRE</th>
            <th>PROVEEDOR</th>
            <th>FECHA SALIDA</th>
            <th>FECHA RESPUESTA</th>
            <th>FECHA ACTUALIZACIÓN PRECIO</th>

        </tr>
    </thead>
    <tbody>
      {% for fila in cotizaciones %}
        <tr>
            <td data-label="NOMBRE">{{fila.nombre}}</td>
            <td data-label="PROVEEDOR"> {{fila.proveedor_asociado.nombre}}</td>
            <td data-label="FECHA SALIDA"> {{fila.fecha_salida}}</td>
            <td data-label="FECHA RESPUESTA">{{fila.fecha_respuesta}}</td>
            <td data-label="FECHA ACTUALIZACIÓN PRECIO"> {{fila.fecha_actualizacion_precio}}</td>
         
            {% endfor %}  
        </tr>
    </tbody>
</table>
</div>    
</div>
  


        
{% endblock %}
