<!DOCTYPE html>
<html>
    
<head>
	<title>Login</title>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com"> 
       
        <link href="{% static 'planificador/css/login.css' %}" rel="stylesheet">
		<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>
<body>
	<img src="../static/planificador/img/principal.png" class="avatar">
	<h1>SOFTWARE INTERNO</h1>
	<div class="loginbox">
			<h2>INGRESA</h2>
			<form method="POST" action="">{% csrf_token %}
				<p>NOMBRE USUARIO</p>
				<input type="text" name="username" placeholder="Inicial + Apellido. Ej:pcorrea">
				<p>CONTRASEÑA</p>
				<input type="password" name="password" placeholder="***********" class="form-control" >
				{% for message in messages %}
				<p id="messages"> {{message}} </p>
				{% endfor %}
				<input type="submit" value="Iniciar sesión">
			</form>
		</div>
		
</body>
</html>