{% extends "base/base2.html" %}
{% block title %} NUEVO PROVEEDOR {% endblock%}
{% block content %}

<head>
	<title>Crear proveedor</title>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com"> 

	<link href="{% static 'planificador/css/crear_proveedor.css' %}" rel="stylesheet">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>

<div class="container">
  <div class="title">CREAR PROVEEDOR</div>
  <br>
  <form action="agregar_nuevo" method="GET">
    <div class="user-details">
        <div class="input-box">
          <span class="rut">RUT</label>
          <input type="text" name="id" placeholder="Ingresa RUT de proveedor" required>
        </div>
        <div class="input-box">
          <span class="details">NOMBRE</label>
          <input type="text" name="nombre" placeholder="Ingresa nombre de proveedor" required>
        </div>
        <div class="input-box">
          <span class="details">RAZÓN SOCIAL</label>
          <input type="text" name="razon_social" placeholder="Ingresa razón social de proveedor">
        </div>
        <div class="input-box">
          <span class="details">DIRECCIÓN</label>
          <input type="text" name="direccion" placeholder="Ingresa dirección de proveedor" required>
        </div>
        <div class="input-box">
          <span class="details">CONTACTO - NOMBRE</label>
          <input type="text" name="nombre_contacto" placeholder="Ingresa nombre de contacto" required>
        </div>
        <div class="input-box">
          <span class="details">CONTACTO - CORREO</label>
          <input type="text" name="correo" placeholder="Ingresa correo de contacto" required>
        </div>
        <div class="input-box">
          <span class="details">CONTACTO - TELÉFONO</label>
          <input type="text" name="telefono" placeholder="Ingresa teléfono de contacto">
        </div>
        <div class="input-box">
          <span class="details">SUB-CLASE</label>
 
              <select class="custom-select" id="subclase" name="subclase" required>
                <option selected>ELEGIR SUB-CLASE</option>
                {% for fila in Subclases %}
                  <option value="{{fila.nombre}}">{{fila.nombre}}</option>
                {% endfor %} 
              </select>
          
        </div>
 
    </div>
    <br>
      <button class="button" type="submit">Crear</button>
  </form>
  </div>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          {{nombre_1}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            {% for fila in clase1 %}
              <input type="checkbox" name="subclase" value="{{fila.nombre}}">{{fila.nombre}}
              <br> 
            {% endfor %}
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
          {{nombre_2}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
            {% for fila in clase2 %}
              <input type="checkbox" name="subclase" value="{{fila.nombre}}">{{fila.nombre}}
              <br> 
            {% endfor %}
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
          {{nombre_3}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
            {% for fila in clase3 %}
              <input type="checkbox" name="subclase" value="{{fila.nombre}}">{{fila.nombre}}
              <br> 
            {% endfor %}
        </div>
      </div>
   
      
    
    <button class="btn btn-secondary btn-lg btn-block" type="submit">Crear</button>
    </form>
{% endblock%}