{% extends "base/base2.html" %}
{% block title %} NUEVO PROVEEDOR {% endblock%}
{% block content %}

<head>
	<title>Crear proveedor</title>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com"> 

	<link href="{% static 'planificador/css/crear_proveedor.css' %}" rel="stylesheet">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>

<div class="container">
  <div class="title">CREAR PROVEEDOR</div>
  <br>
  <form action="agregar_nuevo" method="GET">
    <div class="user-details">
        <div class="input-box">
          <span class="rut">RUT</label>
          <input type="text" name="id" placeholder="Ingresa RUT de proveedor" required>
        </div>
        <div class="input-box">
          <span class="details">NOMBRE</label>
          <input type="text" name="nombre" placeholder="Ingresa nombre de proveedor" required>
        </div>
        <div class="input-box">
          <span class="details">RAZÓN SOCIAL</label>
          <input type="text" name="razon_social" placeholder="Ingresa razón social de proveedor">
        </div>
        <div class="input-box">
          <span class="details">DIRECCIÓN</label>
          <input type="text" name="direccion" placeholder="Ingresa dirección de proveedor" required>
        </div>
        <div class="input-box">
          <span class="details">CONTACTO - NOMBRE</label>
          <input type="text" name="nombre_contacto" placeholder="Ingresa nombre de contacto" required>
        </div>
        <div class="input-box">
          <span class="details">CONTACTO - CORREO</label>
          <input type="text" name="correo" placeholder="Ingresa correo de contacto" required>
        </div>
        <div class="input-box">
          <span class="details">CONTACTO - TELÉFONO</label>
          <input type="text" name="telefono" placeholder="Ingresa teléfono de contacto">
        </div>
        <div class="input-box">
          <span class="details">SUB-CLASE(S)</label>
              <br>
                  <select multiple class="custom-select" id="subclase" name="subclase" required>
                    <option></option>
                    {% for fila in lista_clases %}
                    <option value="" disabled>CLASE: {{fila.0.nombre}}</option>
                      {% for i in fila.1 %}
                        <option value="{{i.nombre}}"> {{i.nombre}}</option>
                      {% endfor %} 
                    {% endfor %} 
                  </select>
              
            </div>

 
    </div>
    <br>
      <button class="button" type="submit">Crear</button>
  </form>
  </div>
{% endblock%}