{% extends "base/base2.html" %}
{% block title %} EDITAR PROVEEDOR {% endblock%}
{% block content %}

<head>
	<title>{{Proveedor.nombre}}</title>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com"> 

	<link href="{% static 'planificador/css/editar_proveedor.css' %}" rel="stylesheet">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>


  <form action="{{Proveedor.rut}}" method="POST">{% csrf_token %}
    <div class="container">
      <div class="title">EDITAR - {{Proveedor.nombre}}</div>
      <div class="user-details">
        <div class="input-box">
          <span class="details">SUB-CLASE(S)</label>
              <br>
                  <select multiple class="custom-select" id="subclase" name="subclase" required>
                    <option></option>
                    {% for i in Subclases %}
                        <option value="{{i.nombre}}" selected> {{i.nombre}}</option>
                      {% endfor %}
                    {% for fila in lista_clases %}
                    <option value="" disabled>CLASE: {{fila.0.nombre}}</option>
                      
                      {% for i in  fila.1 %}
                        <option value="{{i.nombre}}"> {{i.nombre}}</option>
                      {% endfor %}
                    {% endfor %} 
                  </select>
            </div>
            {% for fila in Calificaciones %}
              <div class="input-box">
                <span class="details">{{fila.calificacion}}</label>
                <input type="text" name={{fila.calificacion}} placeholder="Ingresa nueva nota para {{fila.calificacion}}" value={{fila.nota}}>
              </div>
            {% endfor %}  
            
           
          </div>
      </div>

<div class="table-container">
      <table class="table">
        <span class="details">ELIMINAR CONTACTO</label>
        <thead>
            <tr>
                <th>NOMBRE</th>
                <th>CORREO</th>
                <th>TELÉFONO</th>
                <th>¿ELIMINAR?</th>
                
            </tr>
        </thead>
        <tbody>
          {% for fila in Contactos %}
            <tr>
                <td data-label="CÓDIGO">{{fila.nombre}}</td>
                <td data-label="NOMBRE"> {{fila.correo}}</td>
                <td data-label="SUBCLASE">{{fila.telefono}}</td>
                <td data-label="CLASE"> <input type="checkbox" name="eliminar" value={{fila.correo}}></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    <div class="table-container">
      <table class="table">
        <span class="details">AÑADIR CONTACTO</label>
        <thead>
            <tr>
                <th>NOMBRE</th>
                <th>CORREO</th>
                <th>TELÉFONO</th>
            </tr>
        </thead>
        <tbody>
          {% for fila in Contactos %}
            <tr>
                <td data-label="CÓDIGO"><input type="text" class="form-control" name="contacto" id="contacto"></td>
                <td data-label="NOMBRE"> <input type="text" class="form-control" name="correo" id="correo"></td>
                <td data-label="SUBCLASE"><input type="text" class="form-control" name="telefono" id="telefono"></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
        
        <input class="btn btn-primary" type="Submit" value="Guardar">
    </form>
    
{% endblock%}