{% extends "base.html" %}
{% block title %} EDITAR Proveedor {% endblock%}
{% block content %}
<h1> {{Proveedor.nombre}}</h1>
    <br>
    <form action="{{Proveedor.rut}}" method="POST">{% csrf_token %}
        
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  SUB-CLASES
                </button>
              </h2>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                          <th scope="col">Nombre Subclase</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for fila in Subclases %}
                    <tr>
                    <th>{{fila.nombre}}</th>
                      {% endfor %}  
                    </tr>
                    </tbody>
            </table>   
            </div>
          </div>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              {{nombre_1}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                {% for fila in clase1 %}
                  <input type="checkbox" name="subclase" value="{{fila.nombre}}">{{fila.nombre}}
                  <br> 
                {% endfor %}
            </div>
          </div>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
              {{nombre_2}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                {% for fila in clase2 %}
                  <input type="checkbox" name="subclase" value="{{fila.nombre}}">{{fila.nombre}}
                  <br> 
                {% endfor %}
            </div>
          </div>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
              {{nombre_3}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                {% for fila in clase3 %}
                  <input type="checkbox" name="subclase" value="{{fila.nombre}}">{{fila.nombre}}
                  <br> 
                {% endfor %}
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFour">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  CALIFICACIONES
                </button>
              </h2>
            </div>
       
            <div class="card-body">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Calificación</th>
                            <th scope="col">Nota</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for fila in Calificaciones %}
                    <tr>
                    <th>{{fila.calificacion}}</th>
                    <th><input type="text" class="form-control" name={{fila.calificacion}} id={{fila.calificacion}} value={{fila.nota}}></th>
                      {% endfor %}  
                    </tr>
                    </tbody>  
            </table>   
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFive">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  CONTACTOS
                </button>
              </h2>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Teléfono</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for fila in Contactos %}
                    <tr>
                    <th>{{fila.nombre}}</th>
                    <th>{{fila.correo}}</th>
                    <th>{{fila.telefono}}</th>
                      {% endfor %}  
                    </tr>
                    <tr>
                    <th><input type="text" class="form-control" name="contacto" id="contacto"></th>
                    <th><input type="text" class="form-control" name="correo" id="correo"></th>
                    <th><input type="text" class="form-control" name="telefono" id="telefono"></th>
                </tr>
                
                    </tbody>
                    
            </table>   
            </div>
          </div>
        <input class="btn btn-primary" type="Submit" value="Guardar">
    </form>
    
{% endblock%}