{% extends "base.html" %}
{% block title %} PROVEEDOR {% endblock%}
{% block content %}             
    <ul class="list-group list-group-flush">
        
        <a href="{% url 'nuevo' %}" class="btn btn-primary">Añadir proveedor</a>
   
            <h1>PROVEEDORES</h1>
                <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">RUT</th>
                                <th scope="col">Nombre</th>
                               
                            </tr>
                        </thead>
                        <tbody>       
                        {% for fila in Proveedores %}
                        <tr>
                        <th>
                            
                            <a href="{% url 'proveedor' fila.rut %}">{{fila.rut}}</a></th>
                            
                        <th> {{fila.nombre}}</th>
                                {% endfor %}
                        </tr>
                        
                          </tbody>
                </table>
        </ul>
        <br>
        <br>
        <form action="proveedores" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h3>Agregar proveedores mediante plantilla</h3>
            <br>
            <input type="file"
                   title="Upload excel file"
                   name="excel_file"
                   >
       
            <input type="submit"
                   value="Upload"
                   >
            <br>
            <br>
        </form>
{% endblock%}
