{% extends "base/base2.html" %}
{% block content %} 
<head>
	<title>{{Proveedor.nombre}}</title>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="{% static 'planificador/css/proveedor.css' %}" rel="stylesheet">
</head>


    <div class="title">
      <h1>PROVEEDORES</h1>
    </div>
    <div class="subtitle">
      <h4>Proveedores | {{Proveedor.nombre}}</h4>
    </div>
    <div class="container">
    <div class="table-container">
      <div class="title_container">
        <h1>{{Proveedor.nombre}}</h1>
      </div>
      
        <a href="{% url 'mostrar_edicion_proveedor' Proveedor.rut %}">
          <button class="button_editar">EDITAR</button>
        </a>
        <a href="{% url 'agregar_productos_no_disponibles' Proveedor.rut %}">
          <button class="button_editar">AGREGAR PRODUCTOS NO DISPONIBLES</button>
        </a>
        <a href="{% url 'eliminar_proveedor' Proveedor.rut %}" onclick="return confirm('¿Estás seguro que quieres eliminar el producto?')">
          <button class="button_eliminar">ELIMINAR</button>
      </a>
     
      <div class="informacion_container">
        <h4>INFORMACIÓN GENERAL</h4>
      </div>
     
      <table class="table">
        <thead>
            <tr>
                <th>RUT</th>
                <th>NOMBRE</th>
                {% if Proveedor.razon_social %}
                <th>RAZÓN SOCIAL</th>
                {% endif %}
                <th>IDIOMA</th>
                <th>CALIFICACIONES</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-label="CÓDIGO">{{Proveedor.rut}}</td>
                <td data-label="NOMBRE"> {{Proveedor.nombre}}</td>
                {% if Proveedor.razon_social %}
                <td data-label="RAZÓN SOCIAL">
                  {% if Proveedor.razon_social != "None" and Proveedor.razon_social%} 
                   {{Proveedor.razon_social}}
                   {% endif %}
                  </td>
                {% endif %}
                <td data-label="IDIOMA">
                  {% if Proveedor.idioma == "ES" %} 
                    ESPAÑOL
                  {% else %}
                    INGLÉS
                  {% endif %}
                </td>
          
                <td data-label="CALIFICACIONES">
                    {% for i in promedio %}
                    <span class="fa fa-star checked"></span>
                    {% endfor %}
                    {% for n in diferencia %}
                      <span class="fa fa-star"></span>
                    {% endfor %}</p> </i>          
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    <br>
    <br>
    <div class="data-container">
      <div class="table-container">
        <div class="contactos_container">
          <h4>SUBCLASES</h4>
        </div>
          <table class="table2">
          <thead>
              <tr>
                  <th>NOMBRE</th>
              </tr>
          </thead>
          <tbody>
            {% for fila in subclase %}
              <tr>
                  <td data-label="NOMBRE">{{fila.nombre}}</td>
                  {% endfor %}  
              </tr>
          </tbody>
      </table>
      </div>
      <div class="table-container">
        <div class="contactos_container">
          <h4>PRODUCTOS NO DISPONIBLES</h4>
        </div>
          <table class="table2">
          <thead>
              <tr>
                  <th>NOMBRE</th>
              </tr>
          </thead>
          <tbody>
            {% for fila in productos %}
              <tr>
                  <td data-label="NOMBRE">{{fila.nombre}}</td>
                  {% endfor %}  
              </tr>
          </tbody>
      </table>
      </div>  
      <div class="table-container">
      <div class="contactos_container">
        <h4>CONTACTOS</h4>
      </div>
        <table class="table2">
        <thead>
            <tr>
                <th>NOMBRE</th>
                <th>CORREO</th>
                <th>TELÉFONO</th>
            </tr>
        </thead>
        <tbody>
          {% for fila in contactos %}
            <tr>
                <td data-label="FECHA CREACIÓN">{{fila.nombre}}</td>
                <td data-label="VALOR UNITARIO">{{fila.correo}}</td>
                <td data-label="MONEDA">{{fila.telefono}}</td>

                {% endfor %}  
            </tr>
        </tbody>
    </table>
    </div>  

    <div class="table-container">
      <div class="calificacion_container">
        <h4>CALIFICACIONES</h4>
      </div>
        <table class="table2">
        <thead>
            <tr>
                <th>CALIFICACIÓN</th>
                <th>NOTA</th>
            </tr>
        </thead>
        <tbody>
          {% for fila in calificaciones %}
            <tr>
                <td data-label="FECHA CREACIÓN">{{fila.calificacion}}</td>
                <td data-label="VALOR UNITARIO">{{fila.nota}}</td>
  
                {% endfor %}  
            </tr>
        </tbody>
    </table>
    </div> 
  </div> 
    <script>
      document.querySelector("tr td .menu ul li").addEventListener("click", function(){
              this.classList.toggle("active");
      });
  </script>
  </div>

 

{% endblock %}
