<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
        <link href="{% static 'planificador/css/icon-font.css' %}" rel="stylesheet">
        <link href="{% static 'planificador/css/style.css' %}" rel="stylesheet">

        <link rel="shortcut icon" type="image/png" href="img/favicon.png">
        
    
    </head>
    <body>
        <header class="header">
            <div class="logo-box">
                <img src="../static/planificador/img/principal.png" alt="Logo" class="logo">
            </div>
            <div class="nav-bar">
                <ul>
                  <li class="nav-bar">
                    <a href="{% url 'home' %}">INICIO</a>
                  </li>
                  <li class="nav-bar">
                    <a href="{% url 'planificador' %}">PLANIFICADOR</a>
                  </li>
                  <li class="nav-bar">
                    <a href="{% url 'proyectos' %}">PROYECTOS</a>
                  </li>
                  <li class="nav-bar">
                    <a href="{% url 'productos' %}">PRODUCTOS</a>
                  </li>
                  <li class="nav-bar">
                    <a href="{% url 'proveedores' %}">PROVEEDORES</a>
                  </li>
                  <li style="float:right">
                    <a class="nav-bar" href="{% url 'notificaciones' %}">NOTIFICACIONES</a>
                  </li>
                  <li style="float:right">
                    <a class="nav-bar" href="{% url 'notificaciones' %}">A</a>
                  </li>
                </ul>
              </div>
              <div class="profile-box">
                <img src="../static/planificador/img/profile.png" alt="Logo" class="profile">
            </div>
              
        </header>
        {% block content %}


        {% endblock %}
      
    </body>
</html>