{% extends "base/base2.html" %}
{% block content %} 
<head>
	<title>Importación - {{DHL.codigo}}</title>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="{% static 'planificador/css/producto.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
</head>

<div class="title">
  <h1>COTIZACIÓN DHL</h1>
</div>
<a href="{% url 'editar_fechas' DHL.codigo %}">
  <button class="button_añadir">EDITAR FECHAS</button>
</a>
<div class="container">
  <div class="data-container">
<div class="table-container">
  <div class="title_container">
    <h1>{{DHL.codigo}}</h1>
  </div>

  <div class="informacion_container">
    <h4>INFORMACIÓN GENERAL</h4>
  </div>
  <table class="table">
    <thead>
        <tr>
            <th>CÓDIGO</th>
            <th>DIRECCIÓN</th>
            <th>¿IMO?</th>
            <th>USUARIO MODIFICACION</th>
           
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="CÓDIGO"> {{DHL.codigo}}</td>
            <td data-label="DIRECCIÓN"> {{DHL.direccion}}</td>
            <td data-label="¿IMO?"> {{DHL.carga_peligrosa}}</td>
            <td data-label="USUARIO MODIFICACION"> {{DHL.usuario_modificacion.correo}} - {{DHL.usuario_modificacion.first_name}} {{DHL.usuario_modificacion.last_name}}</td>
        </tr>
    </tbody>
</table>
</div>
<br>
<br>
<div class="table-container">
  <div class="informacion_container">
    <h4>INFORMACIÓN FECHAS</h4>
  </div>
    <table class="table2">
    <thead>
        <tr>
            <th>FECHA ENVIADA</th>
            <th>FECHA SALIDA</th>
            <th>FECHA LLEGADA</th>
           
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="FECHA ENVIADA">{{DHL.fecha_enviada}}</td>
            <td data-label="FECHA SALIDA">{{DHL.fecha_salida}}</td>
            <td data-label="FECHA LLEGADA">{{DHL.fecha_llegada}}</td>
        </tr>
    </tbody>
</table>
</div>   
<br>
<br>  
</div>
</div>
        </div>
 

{% endblock %}
