{% extends "base/base2.html" %}
{% block content %} 
<head>
	<title>Importación - {{Importacion.codigo_referencial}}</title>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="{% static 'planificador/css/producto.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
</head>

<div class="title">
  {% if Importacion.DHL_asociado %}
  <h1>COTIZACIÓN DHL</h1>
  {% else %}
  <h1>COTIZACIÓN IMPORTACIÓN</h1>
  {% endif %}

</div>

<div class="subtitle">
  <h4>Importacion | {{Importacion.origen}}</h4>
</div>
<div class="container">
  <div class="data-container">
<div class="table-container">
  <div class="title_container">
    <h1>{{Importacion.codigo_referencial}}</h1>
  </div>

  <div class="informacion_container">
    <h4>INFORMACIÓN GENERAL</h4>
  </div>
  <table class="table">
    <thead>
        <tr>
            <th>CÓDIGO</th>
            {% if DHL %}
            <th>DHL</th>
            {% endif %}
            <th>ORIGEN</th>
            <th>PROVEEDOR</th>
            <th>TRANSPORTE</th>
            <th>KILOS</th>
            <th>FECHA EMISIÓN</th>
            <th>FECHA LLEGADA</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="CÓDIGO">{{Importacion.codigo_referencial}}</td>
            {% if DHL %}
            <td data-label="DHL"><a style="font-size:20px;color:#466ea5"href="{% url 'tarifario' DHL.origin_airport %}">{{DHL.origin_airport}}</a></td>
            {% endif %}
            
            <td data-label="ORIGEN"> {{Importacion.origen}}</td>
            <td data-label="PROVEEDOR"> {{Importacion.proveedor.nombre}}</td>
            <td data-label="TRANSPORTE"> {{Importacion.transporte}}</td>
            <td data-label="KILOS"> {{Importacion.kilos}}</td>
            <td data-label="FECHA EMISIÓN"> {{Importacion.fecha_emision}}</td>
            <td data-label="FECHA LLEGADA"> {{Importacion.fecha_llegada}}</td>
        </tr>
    </tbody>
</table>
</div>
<br>
<br>
<div class="table-container">
  <div class="informacion_container">
    <h4>INFORMACIÓN PRECIOS</h4>
  </div>
    <table class="table2">
    <thead>
        <tr>
            <th>MONEDA IMPORTACIÓN</th>
            <th>VALOR ORIGEN</th>
            <th>VALOR FLETE</th>
            <th>VALOR DESTINO</th>
            <th>VALOR GASTOS DESPACHO</th>
            <th>VALOR HONORARIOS</th>
            <th>ADVALOREM</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="MONEDA IMPORTACIÓN">{{Importacion.moneda_importacion}} - {{Importacion.valor_moneda_importacion}} CLP</td>
            {% if DHL %}
            <td data-label="VALOR ORIGEN">{{Importacion.valor_origen}} - {{DHL.origin.currency}}</td>
            <td data-label="VALOR FLETE"> {{Importacion.valor_flete}} - {{DHL.freight.currency}}</td>
            <td data-label="VALOR DESTINO"> {{Importacion.valor_destino}} - {{DHL.destination.currency}}</td>
            {% else %}
            <td data-label="VALOR ORIGEN">{{Importacion.valor_origen}} - {{Importacion.moneda_importacion}}</td>
            <td data-label="VALOR FLETE"> {{Importacion.valor_flete}} - {{Importacion.moneda_importacion}}</td>
            <td data-label="VALOR DESTINO"> {{Importacion.valor_destino}} - CLP</td>
            {% endif %}
            <td data-label="VALOR GASTOS DESPACHO"> {{Importacion.gastos_despacho}} - CLP</td>
            <td data-label="VALOR HONORARIOS"> {{Importacion.honorarios}} - CLP</td>
            <td data-label="ADVALOREM"> {{Importacion.advalorem}}</td>
        </tr>
    </tbody>
</table>
</div>   
<br>
<br>  
<div class="table-container">
  <div class="informacion_container">
    <h4>INFORMACIÓN PRODUCTOS</h4>
  </div>
    <table class="table2">
    <thead>
        <tr>
            <th>NOMBRE</th>
            <th>CANTIDAD</th>
            <th>PRECIO UNITARIO</th>
            <th>COSTO IMPORTACIÓN UNITARIO EXTRA</th>
        </tr>
    </thead>
    <tbody>
      {% for i in productos %}
        <tr>
            <td data-label="NOMBRE">{{i.producto.nombre}}</td>
            <td data-label="CANTIDAD">{{i.cantidades}} - {{i.producto.unidad}}</td>
            <td data-label="PRECIO"> {{i.precio.valor}} - {{i.precio.tipo_cambio}}</td>
            <td data-label="COSTO IMPORTACIÓN UNITARIO"> {{i.precio.valor_importación}} - CLP</td>
        
        </tr>
    {% endfor %}
      </tbody>
</table>
</div>  
</div>
</div>
        </div>
 

{% endblock %}
