{% extends "base/base2.html" %}
{% block content %} 
<head>
	<title>IMPORTACIONES</title>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="{% static 'planificador/css/importaciones.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

</head>

<div class="title">
    <h1>IMPORTACIONES</h1>
</div>
<div class="subtitle">
    <h4>{{len}} importaciones</h4>
</div>
<div class="table-container">
    <!---
        <a href="{% url 'nueva_cotizacion_importacion' %}">
        <button class="button_añadir">CREAR COTIZACIÓN IMPORTACIÓN</button>
        </a>
        <a href="{% url 'anadir_importacion' %}">
            <button class="button_añadir">AÑADIR IMPORTACIÓN HECHA</button>
        </a>
        <a href="{% url 'tarifarios' %}">
            <button class="button_añadir">VER TARIFARIOS DHL</button>
        </a>
        <a href="{% url 'nueva_importacion_planilla' %}">
            <button class="button_añadir">CARGA TARIFARIOS DHL</button>
        </a>
    -->
    <a href="{% url 'enviar_cotizacion' %}">
        <button class="button_añadir">CREAR COTIZACIÓN DHL</button>
    </a>
    <br>
    <br>
    <h3>IMPORTACIONES</h3>
<table class="table" id="example" class="display">
    <thead>
        <tr>
            <th>CÓDIGO</th>
            <th>ORIGEN</th>

        </tr>
    </thead>
    <tbody>
        {% for fila in importaciones %}
        <tr>
            {% if not fila.DHL_asociado %}
            <td data-label="CÓDIGO"><a href="{% url 'importacion' fila.codigo %}">{{fila.codigo_referencial}}</a></td>
            <td data-label="NOMBRE">{{fila.origen}}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<br>
<h3>COTIZACIONES DE IMPORTACIONES DHL</h3>
<table class="table" id="example" class="display">
    <thead>
        <tr>
            <th>CÓDIGO</th>
            <th>ORIGEN</th>
            <th>FECHA ENVIADA</th>
            <th>FECHA SALIDA</th>
            <th>FECHA LLEGADA</th>
        </tr>
    </thead>
    <tbody>
        {% for fila in importaciones %}
        <tr>
            {% if fila.DHL_asociado %}
            <td data-label="CÓDIGO"><a href="{% url 'importacion' fila.codigo %}">{{fila.codigo_referencial}}</a></td>
            <td data-label="NOMBRE">{{fila.origen}}</td>
            {% endif %}
        </tr>
        {% endfor %}
        {% for x in dhl %}
            <td data-label="CÓDIGO"><a href="{% url 'cotizacion_dhl' x.0.codigo %}">{{x.0.codigo}}</a></td>
            <td data-label="NOMBRE">{{x.0.direccion}}</td>
            <td data-label="FECHA ENVIADA">{{x.0.fecha_enviada}}</td>
            {% if x.1 == "Rojo" %}
                <td style="color:red" data-label="FECHA SALIDA">{{x.0.fecha_salida}}</td>
            {% elif x.1 == "Amarillo" %}
                <td style="color:yellowgreen" data-label="FECHA SALIDA">{{x.0.fecha_salida}}</td>
            {% elif x.1 == "Verde" %}
                <td style="color:green" data-label="FECHA SALIDA">{{x.0.fecha_salida}}</td>
            {% elif x.1 == "No hay" %}
                <td data-label="FECHA SALIDA">No se ha agregado.</td>
            {% endif %}
            {% if x.2 == "Rojo" %}
                <td style="color:red" data-label="FECHA LLEGADA">{{x.0.fecha_llegada}}</td>
            {% elif x.2 == "Amarillo" %}
                <td style="color:yellowgreen" data-label="FECHA LLEGADA">{{x.0.fecha_llegada}}</td>
            {% elif x.2 == "Verde" %}
                <td style="color:green" data-label="FECHA LLEGADA">{{x.0.fecha_llegada}}</td>
            {% elif x.2 == "No hay" %}
                <td data-label="FECHA LLEGADA">No se ha agregado.</td>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock%}
