{% extends "base/base2.html" %}
{% block content %} 
<head>
	<title>Crear Importación - {{Importacion.codigo}}</title>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="{% static 'planificador/css/lista_productos.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>

<div class="container">
<div class="table-container">
  <form action="" method="POST"> {% csrf_token %}
    <div class="title_container">
      <input type="hidden" value="{{Importacion.codigo}}" name="importacion"> 
      <h1>ELEGIR CANTIDADES PRODUCTOS</h1>
    </div>
    <table class="table">
      <thead>
          <tr>
              <th>NOMBRE</th>
              <th>CANTIDAD (*)</th>
              <th>UNIDAD (*)</th>
              <th>PRECIO EN MONEDA ORIGEN (*)</th>
          </tr>
      </thead>
      <tbody>
        {% for fila in Productos %}
          <tr>
              <td data-label="NOMBRE">
                {{fila.producto.nombre}}
                <input type="hidden" name="id_producto" value="{{fila.id}}">
              </td>
              <td data-label="CANTIDAD"> 
                <input type="text" class="form-control" id="cantidad" name="cantidad" pattern="[0-9]+([,\.][0-9]+)?" required>
                {% if forloop.last %}
                <input type="hidden" name="numero_productos" value="{{forloop.counter}}">
                {% endif %}
              </td>
              <td data-label="UNIDAD"> {{fila.producto.unidad}}</td>
              <td data-label="PRECIO"> 
                <input type="text" class="form-control" id="precio" name="precio" pattern="[0-9]+([,\.][0-9]+)?" required>
              </td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
  <div class="boton_container">
    <input class="button_editar" name="boton" type="submit" value="GUARDAR IMPORTACIÓN"></input>
    <input type="hidden" value="Si" name="edicion">
  </div>
  
</div>
    
  </form>
</div>
</div>


   

{% endblock%}