{% extends "base/base2.html" %}
{% block title %} NUEVO PROVEEDOR {% endblock%}
{% block content %}


<head>
	<title>CREAR COTIZACIÓN DHL</title>
	{% load static %}
	<meta charset="UTF-8">
	<link href="{% static 'planificador/css/planificador.css' %}" rel="stylesheet">
</head>

<div class="container">
    <div class="title">COTIZACIÓN DHL</div>
    <br>
<form action="" method="POST">{% csrf_token %}
    <br>
    <div class="user-details">
        <div class="input-box">
          <span class="details">CÓDIGO COTIZACIÓN</label>
            <input type="text" name="codigo" placeholder="Código asignado para cotización." required>
        </div>
        <div class="input-box">
          <span class="details">ORIGEN DHL</label>
            <select class="custom-select" id="origen_DHL" name="origen_DHL" required>
                {% for fila in lista_dhl %}
                <option value="{{fila.origin_airport}}">{{fila.origin_airport}} | {{fila.origin.currency}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-box">
          <span class="details">KILOS (*)</label>
          <input type="text" name="kilos" placeholder="Total de kilos en la importación"  pattern="^[1-9]\d*(\.\d+)?$" required>
        </div>
        <div class="input-box">
            <span class="details">VALOR MONEDA IMPORTACIÓN</label>
            <input type="text" name="valor_moneda" placeholder="Valor aproximado de moneda origen"  pattern="^[1-9]\d*(\.\d+)?$" required>
          </div>
          <div class="input-box">
            <span class="details">VALOR DÓLAR</label>
            <input type="text" name="valor_dolar" value={{dolar}}  pattern="^[1-9]\d*(\.\d+)?$" required>
          </div>
          <div class="input-box">
            <span class="details">VALOR UF</label>
            <input type="text" name="UF" value={{uf}} pattern="^[1-9]\d*(\.\d+)?$" required>
          </div>
          <div class="input-box">
            <span class="details">PROVEEDOR (*)</label>
                <select class="custom-select" id="proveedor" name="proveedor" required>
                  {% for i in proveedores %}
                    <option value="{{i.rut}}">{{i.nombre}}</option>
                  {% endfor %}
                </select>
          </div>
          <div class="input-box">
            <span class="details">¿EL PRODUCTO SE FABRICÓ EN ORIGEN?</label>
                <select class="custom-select" id="advalorem" name="advalorem" required>
                    <option value="SI">SI</option>
                    <option value="NO">NO</option>
                </select>
          </div>
          <br>
          (*) VALOR DÓLAR AL: {{dia}}/{{mes}}/{{año}} es: {{dolar}}
          <br> VALOR EURO AL: {{dia}}/{{mes}}/{{año}} es: {{euro}}
           <br> VALOR UF AL: {{dia}}/{{mes}}/{{año}} es: {{uf}}
      </div>
      <br>
    <button class="button" type="submit">ASIGNAR PRODUCTOS</button>
    </form>
</div>

{% endblock%}
{% block footer %}
{% endblock %}