{% extends "base/base2.html" %}
{% block content %} 
<head>
	<title>{{Proyecto.nombre}}</title>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="{% static 'planificador/css/graficos.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://cdn.jsdelivr.net/npm/vega@5.20.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@5.1.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.17.0"></script>
</head>

<div class="title">
  <h1>Proyecto - {{Proyecto.id}}</h1>
</div>

        </div>
        <div class="informacion_container">
          <h4>PRESUPUESTO</h4>
        </div>
        <br>
        <div class="container_graficos">
          <div id="visppto" class="vega"></div>
        </div>
          <div class="container_graficos">
          <div id="vissubclaseppto" class="vega"></div>
        </div>
        <div class="informacion_container">
          <h4>GASTOS GENERALES</h4>
        </div>
        <br>
        <div class="container_graficos">
          <div id="visgrafico_gastos_generales" class="vega"></div>
          <div id="visgrafico_gastos_generales2" class="vega"></div>
      </div>
        <br>
        <div class="informacion_container">
          <h4>ÓRDENES DE COMPRA Y GASTOS GENERALES</h4>
        </div>
        <br>
        <div class="container_graficos">
        <div id="visSumatoriaGastos" class="vega"></div>
        <div id="visIVA" class="vega"></div>
        <div id="visFinanciero" class="vega"></div>
      </div>
        <br>
        <div class="informacion_container">
          <h4>GASTOS DETALLADOS</h4>
        </div>
        <div class="container_graficos">
        <div id="visproveedores" class="vega"></div>
      </div>
      <br>
      <br>
      <div class="container_graficos">
        <div id="visimportaciones" class="vega"></div>
      </div>
      <br>
      <br>
        <div class="container_graficos">
        <div id="visclase" class="vega"></div>
      </div>
      <br>
      <br>
        <div class="container_graficos">
        <div id="vissubclase" class="vega"></div>
      </div>
      
       
        <div class="informacion_container">
          <h4>FECHAS</h4>
        </div>
        <br>
        <div class="container_graficos">
        
        <div id="visFRC" class="vega"></div>
      </div>
      <br>
      <br>
        <div class="container_graficos">
        <div id="visFCEP" class="vega"></div>
      </div>
      <br>
      <br>
        <div class="container_graficos">
        <div id="visEO" class="vega"></div>
      </div>

    <!-- VEGA -->
    <!-- GASTOS GENERALES -->
<script type="text/javascript">
    var vegaData = {{gastos}}
    var gastoOC = vegaData[0]
    var gastoG = vegaData[1]
    var gastoT = vegaData[2]
    var gastoI = vegaData[3]
    var visSumatoriaGastos = document.getElementById("visSumatoriaGastos")
    var yourVlSpec = ({
        "$schema": "https://vega.github.io/schema/vega/v4.json",
        "width": 200,
        "height": 250,
        "autosize": "fit",
        "title": {
          "text": "DISTRIBUCIÓN GASTOS"
          },
        "data": [
            {
            "name": "table",
            "values": [
                        {"id": "Gasto orden compra", "field": gastoOC},
                        {"id": "Gastos generales", "field": gastoG},
                        {"id": "Gastos importación", "field": gastoI}
            ],
            "transform": [
                {"type": "formula", "expr": "datum.id + ': ' + datum.field", "as": "tooltip"},
                {
                "type": "pie",
                "field": "field",
                "startAngle": 0,
                "endAngle": 6.29,
                "sort": true
                }
            ]
            }
        ],
        "scales": [
            {
            "name": "color",
            "type": "ordinal",
            "domain": {"data": "table", "field": "id"},
            "range": {"scheme": "category20c"}
            }
        ],
        "marks": [
            {
            "type": "arc",
            "from": {"data": "table"},
            "encode": {
                "enter": {
                "fill": {"scale": "color", "field": "id"},
                "x": {"signal": "width / 2"},
                "y": {"signal": "height / 2"},
                "startAngle": {"field": "startAngle"},
                "endAngle": {"field": "endAngle"},
                "innerRadius": {"value": 60},
                "outerRadius": {"signal": "width / 2"},
                "cornerRadius": {"value": 0},
                "tooltip": {"field": "tooltip"}
                }
            }
            }
        ]
        });
        vegaEmbed('#visSumatoriaGastos', yourVlSpec);
    </script>

 <!-- IVA  -->
 <script type="text/javascript">
    var vegaDataIVA = {{IVA}}
    var IVAOC = vegaDataIVA[0]
    var IVAG = vegaDataIVA[1]
    var visSumatoriaGastos = document.getElementById("visIVA")
    var yourVlSpec = ({
        "$schema": "https://vega.github.io/schema/vega/v4.json",
        "width": 200,
        "height": 250,
        "autosize": "fit",
        "title": {
          "text": "IVA GASTOS"
          },
        "data": [
            {
            "name": "table",
            "values": [
                        {"id": "IVA orden compra", "field": IVAOC},
                        {"id": "IVA gastos generales", "field": IVAG}
            ],
            "transform": [
                {"type": "formula", "expr": "datum.id + ': ' + datum.field", "as": "tooltip"},
                {
                "type": "pie",
                "field": "field",
                "startAngle": 0,
                "endAngle": 6.29,
                "sort": true
                }
            ]
            }
        ],
        "scales": [
            {
            "name": "color",
            "type": "ordinal",
            "domain": {"data": "table", "field": "id"},
            "range": {"scheme": "category20c"}
            }
        ],
        "marks": [
            {
            "type": "arc",
            "from": {"data": "table"},
            "encode": {
                "enter": {
                "fill": {"scale": "color", "field": "id"},
                "x": {"signal": "width / 2"},
                "y": {"signal": "height / 2"},
                "startAngle": {"field": "startAngle"},
                "endAngle": {"field": "endAngle"},
                "innerRadius": {"value": 60},
                "outerRadius": {"signal": "width / 2"},
                "cornerRadius": {"value": 0},
                "tooltip": {"field": "tooltip"}
                }
            }
            }
        ]
        });
        vegaEmbed('#visIVA', yourVlSpec);
    </script>
 <!-- STATUS FINANCIERO  -->
  <script type="text/javascript">
    var vegaDataFinanciero = {{status_financiero}}
    var noPagado = vegaDataFinanciero[0]
    var chequeAFecha = vegaDataFinanciero[1]
    var enProceso = vegaDataFinanciero[2]
    var pagado = vegaDataFinanciero[3]
    var visSumatoriaGastos = document.getElementById("visFinanciero")
    var yourVlSpec = ({
        "$schema": "https://vega.github.io/schema/vega/v4.json",
        "width": 200,
        "height": 250,
        "autosize": "fit",
        "title": {
          "text": "STATUS FINANCIERO"
          },
        "data": [
            {
            "name": "table",
            "values": [
                        {"id": "No pagado", "field": noPagado},
                        {"id": "Cheque a fecha", "field": chequeAFecha},
                        {"id": "En proceso", "field": enProceso},
                        {"id": "Pagado", "field": pagado}
            ],
            "transform": [
                {"type": "formula", "expr": "datum.id + ': ' + datum.field", "as": "tooltip"},
                {
                "type": "pie",
                "field": "field",
                "startAngle": 0,
                "endAngle": 6.29,
                "sort": true
                }
            ]
            }
        ],
        "scales": [
            {
            "name": "color",
            "type": "ordinal",
            "domain": {"data": "table", "field": "id"},
            "range": {"scheme": "category20c"}
            }
        ],
        "marks": [
            {
            "type": "arc",
            "from": {"data": "table"},
            "encode": {
                "enter": {
                "fill": {"scale": "color", "field": "id"},
                "x": {"signal": "width / 2"},
                "y": {"signal": "height / 2"},
                "startAngle": {"field": "startAngle"},
                "endAngle": {"field": "endAngle"},
                "innerRadius": {"value": 60},
                "outerRadius": {"signal": "width / 2"},
                "cornerRadius": {"value": 0},
                "tooltip": {"field": "tooltip"}
                }
            }
            }
        ]
        });
        vegaEmbed('#visFinanciero', yourVlSpec);
    </script>

 <!-- TIEMPO FECHA RESPUESTA - EDITAR PRECIO -->
 <script type="text/javascript">
    var visSumatoriaGastos = document.getElementById("visFCEP")
    var data = JSON.parse("{{fecha_FCEP|escapejs}}");
    var yourVlSpec = ({
        "$schema": "https://vega.github.io/schema/vega/v5.json",
        "width": 1200,
        "height": 250,
        "autosize": "fit",
        "title": {
          "text": "DEMORA RESPUESTA COTIZACIÓN A AGREGAR PRECIO"
          },
        "data": [
            {
            "name": "table",
            "values": data
            }
        ],

        "signals": [
            {
            "name": "tooltip",
            "value": {},
            "on": [
                {"events": "rect:mouseover", "update": "datum"},
                {"events": "rect:mouseout",  "update": "{}"}
            ]
            }
        ],

        "scales": [
            {
            "name": "xscale",
            "type": "band",
            "domain": {"data": "table", "field": "category"},
            "range": "width",
            "padding": 0.05,
            "round": true
            },
            {
            "name": "yscale",
            "domain": {"data": "table", "field": "amount"},
            "nice": true,
            "range": "height"
            }
        ],

        "axes": [
            { "orient": "bottom", "scale": "xscale" },
            { "orient": "left", "scale": "yscale" }
        ],

        "marks": [
            {
            "type": "rect",
            "from": {"data":"table"},
            "encode": {
                "enter": {
                "x": {"scale": "xscale", "field": "category"},
                "width": {"scale": "xscale", "band": 1},
                "y": {"scale": "yscale", "field": "amount"},
                "y2": {"scale": "yscale", "value": 0}
                },
                "update": {
                "fill": {"value": "steelblue"}
                },
                "hover": {
                "fill": {"value": "red"}
                }
            }
            },
            {
            "type": "text",
            "encode": {
                "enter": {
                "align": {"value": "center"},
                "baseline": {"value": "bottom"},
                "fill": {"value": "#333"}
                },
                "update": {
                "x": {"scale": "xscale", "signal": "tooltip.category", "band": 0.5},
                "y": {"scale": "yscale", "signal": "tooltip.amount", "offset": -2},
                "text": {"signal": "tooltip.amount"},
                "fillOpacity": [
                    {"test": "isNaN(tooltip.amount)", "value": 0},
                    {"value": 1}
                ]
                }
            }
            }
        ]
        }
        );
                vegaEmbed('#visFCEP', yourVlSpec);
    </script>

 <!-- TIEMPO ENVIADA SOLICITUD A FECHA RESPUESTA -->
 <script type="text/javascript">
    var visSumatoriaGastos = document.getElementById("visFRC")
    var data = JSON.parse("{{fecha_FRC|escapejs}}");
    var yourVlSpec = ({
        "$schema": "https://vega.github.io/schema/vega/v5.json",
        "width": 1200,
        "height": 250,
        "autosize": "fit",
        "title": {
          "text": "DEMORA ENVÍO A RESPUESTA COTIZACIÓN"
          },
        "data": [
            {
            "name": "table",
            "values": data
            }
        ],

        "signals": [
            {
            "name": "tooltip",
            "value": {},
            "on": [
                {"events": "rect:mouseover", "update": "datum"},
                {"events": "rect:mouseout",  "update": "{}"}
            ]
            }
        ],

        "scales": [
            {
            "name": "xscale",
            "type": "band",
            "domain": {"data": "table", "field": "category"},
            "range": "width",
            "padding": 0.05,
            "round": true
            },
            {
            "name": "yscale",
            "domain": {"data": "table", "field": "amount"},
            "nice": true,
            "range": "height"
            }
        ],

        "axes": [
            { "orient": "bottom", "scale": "xscale" },
            { "orient": "left", "scale": "yscale" }
        ],

        "marks": [
            {
            "type": "rect",
            "from": {"data":"table"},
            "encode": {
                "enter": {
                "x": {"scale": "xscale", "field": "category"},
                "width": {"scale": "xscale", "band": 1},
                "y": {"scale": "yscale", "field": "amount"},
                "y2": {"scale": "yscale", "value": 0}
                },
                "update": {
                "fill": {"value": "steelblue"}
                },
                "hover": {
                "fill": {"value": "red"}
                }
            }
            },
            {
            "type": "text",
            "encode": {
                "enter": {
                "align": {"value": "center"},
                "baseline": {"value": "bottom"},
                "fill": {"value": "#333"}
                },
                "update": {
                "x": {"scale": "xscale", "signal": "tooltip.category", "band": 0.5},
                "y": {"scale": "yscale", "signal": "tooltip.amount", "offset": -2},
                "text": {"signal": "tooltip.amount"},
                "fillOpacity": [
                    {"test": "isNaN(tooltip.amount)", "value": 0},
                    {"value": 1}
                ]
                }
            }
            }
        ]
        }
        );
                vegaEmbed('#visFRC', yourVlSpec);
    </script>

 <!-- TIEMPO EDITAR PRECIO A MANDAR OC -->
 <script type="text/javascript">
    var visSumatoriaGastos = document.getElementById("visEO")
    var data = JSON.parse("{{fecha_EO|escapejs}}");
    var yourVlSpec = ({
        "$schema": "https://vega.github.io/schema/vega/v5.json",
        "width": 1200,
        "height": 250,
        "autosize": "fit",
        "title": {
          "text": "DEMORA EDITAR PRECIO A ENVÍO ORDEN DE COMPRA"
          },
        "data": [
            {
            "name": "table",
            "values": data
            }
        ],

        "signals": [
            {
            "name": "tooltip",
            "value": {},
            "on": [
                {"events": "rect:mouseover", "update": "datum"},
                {"events": "rect:mouseout",  "update": "{}"}
            ]
            }
        ],

        "scales": [
            {
            "name": "xscale",
            "type": "band",
            "domain": {"data": "table", "field": "category"},
            "range": "width",
            "padding": 0.05,
            "round": true
            },
            {
            "name": "yscale",
            "domain": {"data": "table", "field": "amount"},
            "nice": true,
            "range": "height"
            }
        ],

        "axes": [
            { "orient": "bottom", "scale": "xscale" },
            { "orient": "left", "scale": "yscale" }
        ],

        "marks": [
            {
            "type": "rect",
            "from": {"data":"table"},
            "encode": {
                "enter": {
                "x": {"scale": "xscale", "field": "category"},
                "width": {"scale": "xscale", "band": 1},
                "y": {"scale": "yscale", "field": "amount"},
                "y2": {"scale": "yscale", "value": 0}
                },
                "update": {
                "fill": {"value": "steelblue"}
                },
                "hover": {
                "fill": {"value": "red"}
                }
            }
            },
            {
            "type": "text",
            "encode": {
                "enter": {
                "align": {"value": "center"},
                "baseline": {"value": "bottom"},
                "fill": {"value": "#333"}
                },
                "update": {
                "x": {"scale": "xscale", "signal": "tooltip.category", "band": 0.5},
                "y": {"scale": "yscale", "signal": "tooltip.amount", "offset": -2},
                "text": {"signal": "tooltip.amount"},
                "fillOpacity": [
                    {"test": "isNaN(tooltip.amount)", "value": 0},
                    {"value": 1}
                ]
                }
            }
            }
        ]
        }
        );
                vegaEmbed('#visEO', yourVlSpec);
    </script>

 <!-- GRAFICO PROVEEDORES -->
 <script type="text/javascript">
    var visSumatoriaGastos = document.getElementById("visproveedores")
    var data = JSON.parse("{{proveedores|escapejs}}");
    var yourVlSpec = ({
        "$schema": "https://vega.github.io/schema/vega/v5.json",
        "width": 1200,
        "height": 250,
        "autosize": "fit",
        "title": {
          "text": "GASTOS POR PROVEEDOR"
          },
        "data": [
            {
            "name": "table",
            "values": data
            }
        ],

        "signals": [
            {
            "name": "tooltip",
            "value": {},
            "on": [
                {"events": "rect:mouseover", "update": "datum"},
                {"events": "rect:mouseout",  "update": "{}"}
            ]
            }
        ],

        "scales": [
            {
            "name": "xscale",
            "type": "band",
            "domain": {"data": "table", "field": "category"},
            "range": "width",
            "padding": 0.05,
            "round": true
            },
            {
            "name": "yscale",
            "domain": {"data": "table", "field": "amount"},
            "nice": true,
            "range": "height"
            }
        ],

        "axes": [
            { "orient": "bottom", "scale": "xscale" },
            { "orient": "left", "scale": "yscale" }
        ],

        "marks": [
            {
            "type": "rect",
            "from": {"data":"table"},
            "encode": {
                "enter": {
                "x": {"scale": "xscale", "field": "category"},
                "width": {"scale": "xscale", "band": 1},
                "y": {"scale": "yscale", "field": "amount"},
                "y2": {"scale": "yscale", "value": 0}
                },
                "update": {
                "fill": {"value": "steelblue"}
                },
                "hover": {
                "fill": {"value": "red"}
                }
            }
            },
            {
            "type": "text",
            "encode": {
                "enter": {
                "align": {"value": "center"},
                "baseline": {"value": "bottom"},
                "fill": {"value": "#333"}
                },
                "update": {
                "x": {"scale": "xscale", "signal": "tooltip.category", "band": 0.5},
                "y": {"scale": "yscale", "signal": "tooltip.amount", "offset": -2},
                "text": {"signal": "tooltip.amount"},
                "fillOpacity": [
                    {"test": "isNaN(tooltip.amount)", "value": 0},
                    {"value": 1}
                ]
                }
            }
            }
        ]
        }
        );
                vegaEmbed('#visproveedores', yourVlSpec);
    </script>

 <!-- GRAFICO IMPORTACIONES -->
<script type="text/javascript">
  var visSumatoriaGastos = document.getElementById("visimportaciones")
  var data = JSON.parse("{{importaciones|escapejs}}");
  var yourVlSpec = ({
      "$schema": "https://vega.github.io/schema/vega/v5.json",
      "width": 1200,
      "height": 250,
      "autosize": "fit",
      "title": {
        "text": "GASTOS POR IMPORTACIÓN"
        },
      "data": [
          {
          "name": "table",
          "values": data
          }
      ],

      "signals": [
          {
          "name": "tooltip",
          "value": {},
          "on": [
              {"events": "rect:mouseover", "update": "datum"},
              {"events": "rect:mouseout",  "update": "{}"}
          ]
          }
      ],

      "scales": [
          {
          "name": "xscale",
          "type": "band",
          "domain": {"data": "table", "field": "category"},
          "range": "width",
          "padding": 0.05,
          "round": true
          },
          {
          "name": "yscale",
          "domain": {"data": "table", "field": "amount"},
          "nice": true,
          "range": "height"
          }
      ],

      "axes": [
          { "orient": "bottom", "scale": "xscale" },
          { "orient": "left", "scale": "yscale" }
      ],

      "marks": [
          {
          "type": "rect",
          "from": {"data":"table"},
          "encode": {
              "enter": {
              "x": {"scale": "xscale", "field": "category"},
              "width": {"scale": "xscale", "band": 1},
              "y": {"scale": "yscale", "field": "amount"},
              "y2": {"scale": "yscale", "value": 0}
              },
              "update": {
              "fill": {"value": "steelblue"}
              },
              "hover": {
              "fill": {"value": "red"}
              }
          }
          },
          {
          "type": "text",
          "encode": {
              "enter": {
              "align": {"value": "center"},
              "baseline": {"value": "bottom"},
              "fill": {"value": "#333"}
              },
              "update": {
              "x": {"scale": "xscale", "signal": "tooltip.category", "band": 0.5},
              "y": {"scale": "yscale", "signal": "tooltip.amount", "offset": -2},
              "text": {"signal": "tooltip.amount"},
              "fillOpacity": [
                  {"test": "isNaN(tooltip.amount)", "value": 0},
                  {"value": 1}
              ]
              }
          }
          }
      ]
      }
      );
              vegaEmbed('#visimportaciones', yourVlSpec);
  </script>

 <!-- GRAFICO RELACION -->
 <script type="text/javascript">
  var visSumatoriaGastos = document.getElementById("visgrafico_gastos_generales")
  var data = JSON.parse("{{grafico_gastos_generales|escapejs}}");
  var yourVlSpec = ({
      "$schema": "https://vega.github.io/schema/vega/v5.json",
      "width": 400,
      "height": 250,
      "autosize": "fit",
      "title": {
        "text": "RENDICIONES DE GASTOS POR PERSONA"
        },
      "data": [
          {
          "name": "table",
          "values": data
          }
      ],

      "signals": [
          {
          "name": "tooltip",
          "value": {},
          "on": [
              {"events": "rect:mouseover", "update": "datum"},
              {"events": "rect:mouseout",  "update": "{}"}
          ]
          }
      ],

      "scales": [
          {
          "name": "xscale",
          "type": "band",
          "domain": {"data": "table", "field": "category"},
          "range": "width",
          "padding": 0.05,
          "round": true
          },
          {
          "name": "yscale",
          "domain": {"data": "table", "field": "amount"},
          "nice": true,
          "range": "height"
          }
      ],

      "axes": [
          { "orient": "bottom", "scale": "xscale" },
          { "orient": "left", "scale": "yscale" }
      ],

      "marks": [
          {
          "type": "rect",
          "from": {"data":"table"},
          "encode": {
              "enter": {
              "x": {"scale": "xscale", "field": "category"},
              "width": {"scale": "xscale", "band": 1},
              "y": {"scale": "yscale", "field": "amount"},
              "y2": {"scale": "yscale", "value": 0}
              },
              "update": {
              "fill": {"value": "steelblue"}
              },
              "hover": {
              "fill": {"value": "red"}
              }
          }
          },
          {
          "type": "text",
          "encode": {
              "enter": {
              "align": {"value": "center"},
              "baseline": {"value": "bottom"},
              "fill": {"value": "#333"}
              },
              "update": {
              "x": {"scale": "xscale", "signal": "tooltip.category", "band": 0.5},
              "y": {"scale": "yscale", "signal": "tooltip.amount", "offset": -2},
              "text": {"signal": "tooltip.amount"},
              "fillOpacity": [
                  {"test": "isNaN(tooltip.amount)", "value": 0},
                  {"value": 1}
              ]
              }
          }
          }
      ]
      }
      );
              vegaEmbed('#visgrafico_gastos_generales', yourVlSpec);
  </script>

<!-- GRAFICO GG -->
<script type="text/javascript">
  var visSumatoriaGastos = document.getElementById("visgrafico_gastos_generales2")
  var data = JSON.parse("{{grafico_gastos_generales2|escapejs}}");
  var yourVlSpec = ({
    "$schema": "https://vega.github.io/schema/vega/v5.json",
    "description": "A basic grouped bar chart example.",
    "width": 600,
    "height": 250,
    "title": {
      "text": "GASTOS GENERALES",
      },

    "data": [
      {
        "name": "table",
        "values": data
      }
    ],
    "scales": [
      {
        "name": "yscale",
        "type": "band",
        "domain": {"data": "table", "field": "category"},
        "range": "height",
        "padding": 0.2
      },
      {
        "name": "xscale",
        "type": "linear",
        "domain": {"data": "table", "field": "value"},
        "range": "width",
        "round": true,
        "zero": true,
        "nice": true
      },
      {
        "name": "color",
        "type": "ordinal",
        "domain": {"data": "table", "field": "position"},
        "range": {"scheme": "category20"}
      }
    ],
    "axes": [
      {"orient": "left", "scale": "yscale", "tickSize": 0, "labelPadding": 4, "zindex": 1},
      {"orient": "bottom", "scale": "xscale"}
    ],

    "marks": [
      {
        "type": "group",

        "from": {
          "facet": {
            "data": "table",
            "name": "facet",
            "groupby": "category"
          }
        },

        "encode": {
          "enter": {
            "y": {"scale": "yscale", "field": "category"}
          }
        },

        "signals": [
          {"name": "height", "update": "bandwidth('yscale')"}
        ],

        "scales": [
          {
            "name": "pos",
            "type": "band",
            "range": "height",
            "domain": {"data": "facet", "field": "position"}
          }
        ],

        "marks": [
          {
            "name": "bars",
            "from": {"data": "facet"},
            "type": "rect",
            "encode": {
              "enter": {
                "y": {"scale": "pos", "field": "position"},
                "height": {"scale": "pos", "band": 1},
                "x": {"scale": "xscale", "field": "value"},
                "x2": {"scale": "xscale", "value": 0},
                "fill": {"scale": "color", "field": "position"}
              }
            }
          },
          {
            "type": "text",
            "from": {"data": "bars"},
            "encode": {
              "enter": {
                "x": {"field": "x2", "offset": -5},
                "y": {"field": "y", "offset": {"field": "height", "mult": 0.5}},
                "fill": [
                  {"test": "contrast('white', datum.fill) > contrast('black', datum.fill)", "value": "white"},
                  {"value": "black"}
                ],
                "align": {"value": "right"},
                "baseline": {"value": "middle"},
                "text": {"field": "datum.value"}
              }
            }
          }
        ]
      }
    ]
    }
      );
              vegaEmbed('#visgrafico_gastos_generales2', yourVlSpec);
  </script>
 <!-- GRAFICO CLASE -->
 <script type="text/javascript">
    var visSumatoriaGastos = document.getElementById("visclase")
    var data = JSON.parse("{{clase|escapejs}}");
    var yourVlSpec = ({
        "$schema": "https://vega.github.io/schema/vega/v5.json",
        "width": 1200,
        "height": 250,
        "autosize": "fit",
        "title": {
          "text": "GASTOS POR CLASE"
          },
        "data": [
            {
            "name": "table",
            "values": data
            }
        ],

        "signals": [
            {
            "name": "tooltip",
            "value": {},
            "on": [
                {"events": "rect:mouseover", "update": "datum"},
                {"events": "rect:mouseout",  "update": "{}"}
            ]
            }
        ],

        "scales": [
            {
            "name": "xscale",
            "type": "band",
            "domain": {"data": "table", "field": "category"},
            "range": "width",
            "padding": 0.05,
            "round": true
            },
            {
            "name": "yscale",
            "domain": {"data": "table", "field": "amount"},
            "nice": true,
            "range": "height"
            }
        ],

        "axes": [
            { "orient": "bottom", "scale": "xscale" },
            { "orient": "left", "scale": "yscale" }
        ],

        "marks": [
            {
            "type": "rect",
            "from": {"data":"table"},
            "encode": {
                "enter": {
                "x": {"scale": "xscale", "field": "category"},
                "width": {"scale": "xscale", "band": 1},
                "y": {"scale": "yscale", "field": "amount"},
                "y2": {"scale": "yscale", "value": 0}
                },
                "update": {
                "fill": {"value": "steelblue"}
                },
                "hover": {
                "fill": {"value": "red"}
                }
            }
            },
            {
            "type": "text",
            "encode": {
                "enter": {
                "align": {"value": "center"},
                "baseline": {"value": "bottom"},
                "fill": {"value": "#333"}
                },
                "update": {
                "x": {"scale": "xscale", "signal": "tooltip.category", "band": 0.5},
                "y": {"scale": "yscale", "signal": "tooltip.amount", "offset": -2},
                "text": {"signal": "tooltip.amount"},
                "fillOpacity": [
                    {"test": "isNaN(tooltip.amount)", "value": 0},
                    {"value": 1}
                ]
                }
            }
            }
        ]
        }
        );
                vegaEmbed('#visclase', yourVlSpec);
    </script>

<!-- GRAFICO SUBCLASE -->
<script type="text/javascript">
    var visSumatoriaGastos = document.getElementById("vissubclase")
    var data = JSON.parse("{{subclase|escapejs}}");
    var yourVlSpec = ({
        "$schema": "https://vega.github.io/schema/vega/v5.json",
        "width": 1200,
        "height": 250,
        "autosize": "fit",
        "title": {
          "text": "GASTOS POR SUBCLASE"
          },

        "data": [
            {
            "name": "table",
            "values": data
            }
        ],

        "signals": [
            {
            "name": "tooltip",
            "value": {},
            "on": [
                {"events": "rect:mouseover", "update": "datum"},
                {"events": "rect:mouseout",  "update": "{}"}
            ]
            }
        ],

        "scales": [
            {
            "name": "xscale",
            "type": "band",
            "domain": {"data": "table", "field": "category"},
            "range": "width",
            "padding": 0.05,
            "round": true
            },
            {
            "name": "yscale",
            "domain": {"data": "table", "field": "amount"},
            "nice": true,
            "range": "height"
            }
        ],

        "axes": [
            { "orient": "bottom", "scale": "xscale" },
            { "orient": "left", "scale": "yscale" }
        ],

        "marks": [
            {
            "type": "rect",
            "from": {"data":"table"},
            "encode": {
                "enter": {
                "x": {"scale": "xscale", "field": "category"},
                "width": {"scale": "xscale", "band": 1},
                "y": {"scale": "yscale", "field": "amount"},
                "y2": {"scale": "yscale", "value": 0}
                },
                "update": {
                "fill": {"value": "steelblue"}
                },
                "hover": {
                "fill": {"value": "red"}
                }
            }
            },
            {
            "type": "text",
            "encode": {
                "enter": {
                "align": {"value": "center"},
                "baseline": {"value": "bottom"},
                "fill": {"value": "#333"}
                },
                "update": {
                "x": {"scale": "xscale", "signal": "tooltip.category", "band": 0.5},
                "y": {"scale": "yscale", "signal": "tooltip.amount", "offset": -2},
                "text": {"signal": "tooltip.amount"},
                "fillOpacity": [
                    {"test": "isNaN(tooltip.amount)", "value": 0},
                    {"value": 1}
                ]
                }
            }
            }
        ]
        }
        );
                vegaEmbed('#vissubclase', yourVlSpec);
    </script>

<!-- GRAFICO SUBCLASES PPTO -->
<script type="text/javascript">
    var visSumatoriaGastos = document.getElementById("vissubclaseppto")
    var data = JSON.parse("{{subclases_ppto|escapejs}}");
    var porcentaje =  JSON.parse("{{porcentaje_ppto_total|escapejs}}");
    var yourVlSpec = ({
  "$schema": "https://vega.github.io/schema/vega/v5.json",
  "description": "A basic grouped bar chart example.",
  "width": 1200,
  "height": 250,
  "padding":45,
  "autosize": "fit",
  "title": {
    "text": "PRESUPUESTO POR SUBCLASES",
    },

  "data": [
    {
      "name": "table",
      "values": data
    }
  ],

  "scales": [
    {
      "name": "yscale",
      "type": "band",
      "domain": {"data": "table", "field": "category"},
      "range": "height",
      "padding": 0.2
    },
    {
      "name": "xscale",
      "type": "linear",
      "domain": {"data": "table", "field": "value"},
      "range": "width",
      "round": true,
      "zero": true,
      "nice": true
    },
    {
      "name": "color",
      "type": "ordinal",
      "domain": {"data": "table", "field": "position"},
      "range": {"scheme": "category20"}
    }
  ],

  "axes": [
    {"orient": "left", "scale": "yscale", "tickSize": 0, "labelPadding": 4, "zindex": 1},
    {"orient": "bottom", "scale": "xscale"}
  ],

  "marks": [
    {
      "type": "group",

      "from": {
        "facet": {
          "data": "table",
          "name": "facet",
          "groupby": "category"
        }
      },

      "encode": {
        "enter": {
          "y": {"scale": "yscale", "field": "category"}
        }
      },

      "signals": [
        {"name": "height", "update": "bandwidth('yscale')"}
      ],

      "scales": [
        {
          "name": "pos",
          "type": "band",
          "range": "height",
          "domain": {"data": "facet", "field": "position"}
        }
      ],

      "marks": [
        {
          "name": "bars",
          "from": {"data": "facet"},
          "type": "rect",
          "encode": {
            "enter": {
              "y": {"scale": "pos", "field": "position"},
              "height": {"scale": "pos", "band": 1},
              "x": {"scale": "xscale", "field": "value"},
              "x2": {"scale": "xscale", "value": 0},
              "fill": {"scale": "color", "field": "position"}
            }
          }
        },
        {
          "type": "text",
          "from": {"data": "bars"},
          "encode": {
            "enter": {
              "x": {"field": "x2", "offset": -5},
              "y": {"field": "y", "offset": {"field": "height", "mult": 0.5}},
              "fill": [
                {"test": "contrast('white', datum.fill) > contrast('black', datum.fill)", "value": "white"},
                {"value": "black"}
              ],
              "align": {"value": "right"},
              "baseline": {"value": "middle"},
              "text": {"field": "datum.value"}
            }
          }
        }
      ]
    }
  ]
}
        );
                vegaEmbed('#vissubclaseppto', yourVlSpec);
    </script>

<!-- GRAFICO PPTO -->
<script type="text/javascript">
    var visSumatoriaGastos = document.getElementById("visppto")
    var data = JSON.parse("{{ppto_total|escapejs}}");
    var yourVlSpec = ({
  "$schema": "https://vega.github.io/schema/vega/v5.json",
  "description": "A basic grouped bar chart example.",
  "width": 1200,
  "height": 250,
  "title": {
    "text": "PRESUPUESTO TOTAL",
    "subtitle":porcentaje + " UTILIZADO"
    },

  "data": [
    {
      "name": "table",
      "values": data
    }
  ],
  "scales": [
    {
      "name": "yscale",
      "type": "band",
      "domain": {"data": "table", "field": "category"},
      "range": "height",
      "padding": 0.2
    },
    {
      "name": "xscale",
      "type": "linear",
      "domain": {"data": "table", "field": "value"},
      "range": "width",
      "round": true,
      "zero": true,
      "nice": true
    },
    {
      "name": "color",
      "type": "ordinal",
      "domain": {"data": "table", "field": "position"},
      "range": {"scheme": "category20"}
    }
  ],

  "axes": [
    {"orient": "left", "scale": "yscale", "tickSize": 0, "labelPadding": 4, "zindex": 1},
    {"orient": "bottom", "scale": "xscale"}
  ],

  "marks": [
    {
      "type": "group",

      "from": {
        "facet": {
          "data": "table",
          "name": "facet",
          "groupby": "category"
        }
      },

      "encode": {
        "enter": {
          "y": {"scale": "yscale", "field": "category"}
        }
      },

      "signals": [
        {"name": "height", "update": "bandwidth('yscale')"}
      ],

      "scales": [
        {
          "name": "pos",
          "type": "band",
          "range": "height",
          "domain": {"data": "facet", "field": "position"}
        }
      ],

      "marks": [
        {
          "name": "bars",
          "from": {"data": "facet"},
          "type": "rect",
          "encode": {
            "enter": {
              "y": {"scale": "pos", "field": "position"},
              "height": {"scale": "pos", "band": 1},
              "x": {"scale": "xscale", "field": "value"},
              "x2": {"scale": "xscale", "value": 0},
              "fill": {"scale": "color", "field": "position"},
            }
          }
        },
        {
          "type": "text",
          "from": {"data": "bars"},
          "encode": {
            "enter": {
              "x": {"field": "x2", "offset": -5},
              "y": {"field": "y", "offset": {"field": "height", "mult": 0.5}},
              "fill": [
                {"test": "contrast('white', datum.fill) > contrast('black', datum.fill)", "value": "white"},
                {"value": "black"}
              ],
              "align": {"value": "right"},
              "baseline": {"value": "middle"},
              "text": {
                "field": "datum.value",
                "type": "linear",
                "format": ".2f"
                },
              
            }
          }
        }
      ]
    }
  ]
}
        );
                vegaEmbed('#visppto', yourVlSpec);
    </script>
  
<!-- FUNCIÓN FORMATO PESOS -->
<script type="text/javascript">
  vega.expressionFunction('customFormatA', function(datum, params) {

  return "<formatted string>";
});
</script>


{% endblock %}
