{% extends "base/base2.html" %}
{% block content %} 
<head>
	<title>{{Proyecto.nombre}}</title>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="{% static 'planificador/css/producto.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://cdn.jsdelivr.net/npm/vega@5.20.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@5.1.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.17.0"></script>
</head>

<div class="title">
  <h1>Proyecto - {{Proyecto.id}}</h1>
</div>

<div class="container">
  <div class="data-container">
<div class="table-container">
  <div class="title_container">
    <h1>{{Producto.nombre}}</h1>
  </div>
  <div class="informacion_container">
    <h4>INFORMACIÓN GENERAL</h4>
  </div>
  
</div>
<br>
<br>

</div>
</div>
        </div>
        <div id="visSumatoriaGastos" class="vega"></div>
        <div id="visIVA" class="vega"></div>
        <div id="visFinanciero" class="vega"></div>
        <div id="visFCEP" class="vega"></div>

    <!-- VEGA -->
    <!-- GASTOS GENERALES -->
<script type="text/javascript">
    var vegaData = {{gastos}}
    var gastoOC = vegaData[0]
    var gastoG = vegaData[1]
    var gastoT = vegaData[2]
    var visSumatoriaGastos = document.getElementById("visSumatoriaGastos")
    var yourVlSpec = ({
        "$schema": "https://vega.github.io/schema/vega/v4.json",
        "width": 200,
        "height": 200,
        "autosize": "fit",
        "data": [
            {
            "name": "table",
            "values": [
                        {"id": "Gasto orden compra", "field": gastoOC},
                        {"id": "Gastos generales", "field": gastoG}
            ],
            "transform": [
                {"type": "formula", "expr": "datum.id + ': ' + datum.field", "as": "tooltip"},
                {
                "type": "pie",
                "field": "field",
                "startAngle": 0,
                "endAngle": 6.29,
                "sort": true
                }
            ]
            }
        ],
        "scales": [
            {
            "name": "color",
            "type": "ordinal",
            "domain": {"data": "table", "field": "id"},
            "range": {"scheme": "category20c"}
            }
        ],
        "marks": [
            {
            "type": "arc",
            "from": {"data": "table"},
            "encode": {
                "enter": {
                "fill": {"scale": "color", "field": "id"},
                "x": {"signal": "width / 2"},
                "y": {"signal": "height / 2"},
                "startAngle": {"field": "startAngle"},
                "endAngle": {"field": "endAngle"},
                "innerRadius": {"value": 60},
                "outerRadius": {"signal": "width / 2"},
                "cornerRadius": {"value": 0},
                "tooltip": {"field": "tooltip"}
                }
            }
            }
        ]
        });
        vegaEmbed('#visSumatoriaGastos', yourVlSpec);
    </script>

 <!-- IVA  -->
 <script type="text/javascript">
    var vegaDataIVA = {{IVA}}
    var IVAOC = vegaDataIVA[0]
    var IVAG = vegaDataIVA[1]
    var visSumatoriaGastos = document.getElementById("visIVA")
    var yourVlSpec = ({
        "$schema": "https://vega.github.io/schema/vega/v4.json",
        "width": 200,
        "height": 200,
        "autosize": "fit",
        "data": [
            {
            "name": "table",
            "values": [
                        {"id": "IVA orden compra", "field": IVAOC},
                        {"id": "IVA gastos generales", "field": IVAG}
            ],
            "transform": [
                {"type": "formula", "expr": "datum.id + ': ' + datum.field", "as": "tooltip"},
                {
                "type": "pie",
                "field": "field",
                "startAngle": 0,
                "endAngle": 6.29,
                "sort": true
                }
            ]
            }
        ],
        "scales": [
            {
            "name": "color",
            "type": "ordinal",
            "domain": {"data": "table", "field": "id"},
            "range": {"scheme": "category20c"}
            }
        ],
        "marks": [
            {
            "type": "arc",
            "from": {"data": "table"},
            "encode": {
                "enter": {
                "fill": {"scale": "color", "field": "id"},
                "x": {"signal": "width / 2"},
                "y": {"signal": "height / 2"},
                "startAngle": {"field": "startAngle"},
                "endAngle": {"field": "endAngle"},
                "innerRadius": {"value": 60},
                "outerRadius": {"signal": "width / 2"},
                "cornerRadius": {"value": 0},
                "tooltip": {"field": "tooltip"}
                }
            }
            }
        ]
        });
        vegaEmbed('#visIVA', yourVlSpec);
    </script>
 <!-- STATUS FINANCIERO  -->
  <script type="text/javascript">
    var vegaDataFinanciero = {{status_financiero}}
    var noPagado = vegaDataFinanciero[0]
    var chequeAFecha = vegaDataFinanciero[1]
    var enProceso = vegaDataFinanciero[2]
    var pagado = vegaDataFinanciero[3]
    var visSumatoriaGastos = document.getElementById("visFinanciero")
    var yourVlSpec = ({
        "$schema": "https://vega.github.io/schema/vega/v4.json",
        "width": 200,
        "height": 200,
        "autosize": "fit",
        "data": [
            {
            "name": "table",
            "values": [
                        {"id": "No pagado", "field": noPagado},
                        {"id": "Cheque a fecha", "field": chequeAFecha},
                        {"id": "En proceso", "field": enProceso},
                        {"id": "Pagado", "field": pagado}
            ],
            "transform": [
                {"type": "formula", "expr": "datum.id + ': ' + datum.field", "as": "tooltip"},
                {
                "type": "pie",
                "field": "field",
                "startAngle": 0,
                "endAngle": 6.29,
                "sort": true
                }
            ]
            }
        ],
        "scales": [
            {
            "name": "color",
            "type": "ordinal",
            "domain": {"data": "table", "field": "id"},
            "range": {"scheme": "category20c"}
            }
        ],
        "marks": [
            {
            "type": "arc",
            "from": {"data": "table"},
            "encode": {
                "enter": {
                "fill": {"scale": "color", "field": "id"},
                "x": {"signal": "width / 2"},
                "y": {"signal": "height / 2"},
                "startAngle": {"field": "startAngle"},
                "endAngle": {"field": "endAngle"},
                "innerRadius": {"value": 60},
                "outerRadius": {"signal": "width / 2"},
                "cornerRadius": {"value": 0},
                "tooltip": {"field": "tooltip"}
                }
            }
            }
        ]
        });
        vegaEmbed('#visFinanciero', yourVlSpec);
    </script>

 <!-- TIEMPO FECHA RESPUESTA - EDITAR PRECIO -->
 <script type="text/javascript">
    var visSumatoriaGastos = document.getElementById("visFCEP")
    var data = JSON.parse("{{fecha_FCEP|escapejs}}");
    var yourVlSpec = ({
        "$schema": "https://vega.github.io/schema/vega/v5.json",
        "width": 400,
        "height": 200,
        "padding": 5,

        "data": [
            {
            "name": "table",
            "values": data
            }
        ],

        "signals": [
            {
            "name": "tooltip",
            "value": {},
            "on": [
                {"events": "rect:mouseover", "update": "datum"},
                {"events": "rect:mouseout",  "update": "{}"}
            ]
            }
        ],

        "scales": [
            {
            "name": "xscale",
            "type": "band",
            "domain": {"data": "table", "field": "category"},
            "range": "width",
            "padding": 0.05,
            "round": true
            },
            {
            "name": "yscale",
            "domain": {"data": "table", "field": "amount"},
            "nice": true,
            "range": "height"
            }
        ],

        "axes": [
            { "orient": "bottom", "scale": "xscale" },
            { "orient": "left", "scale": "yscale" }
        ],

        "marks": [
            {
            "type": "rect",
            "from": {"data":"table"},
            "encode": {
                "enter": {
                "x": {"scale": "xscale", "field": "category"},
                "width": {"scale": "xscale", "band": 1},
                "y": {"scale": "yscale", "field": "amount"},
                "y2": {"scale": "yscale", "value": 0}
                },
                "update": {
                "fill": {"value": "steelblue"}
                },
                "hover": {
                "fill": {"value": "red"}
                }
            }
            },
            {
            "type": "text",
            "encode": {
                "enter": {
                "align": {"value": "center"},
                "baseline": {"value": "bottom"},
                "fill": {"value": "#333"}
                },
                "update": {
                "x": {"scale": "xscale", "signal": "tooltip.category", "band": 0.5},
                "y": {"scale": "yscale", "signal": "tooltip.amount", "offset": -2},
                "text": {"signal": "tooltip.amount"},
                "fillOpacity": [
                    {"test": "isNaN(tooltip.amount)", "value": 0},
                    {"value": 1}
                ]
                }
            }
            }
        ]
        }
        );
                vegaEmbed('#visFCEP', yourVlSpec);
    </script>
{% endblock %}
