{% extends "base.html" %}

{% block content %}
<h1>Búsqueda filtros</h1>
<form method="get">
  {{myFilter.form}}
<button class="btn btn-primary" type="submit">Search</button>
</form>
<form action="crear_nuevo_producto" method="POST"> {% csrf_token %}
  <table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Nombre <input type="hidden" value="{{id}}" name="id"></th>
            <th scope="col">Clase</th>
            <th scope="col">Sub-clase</th>
        </tr>
    </thead>
    <tbody>
      {% for fila in myFilter.qs %}
    <tr>
      <th><input type=radio name="producto" value="{{fila.nombre_producto}}"> {{fila.nombre_producto}}</th>
        <th>{{fila.nombre_clase}}</th>
        <th>{{fila.nombre_subclase}}</th>
      {% endfor %}
    </tr>
    </tbody>
  </table>
  <br>
  <br>
  
  <button class="btn btn-primary" type="submit">Elegir información producto</button>
</form>

{% endblock %}