{% extends "base.html" %}
{% block title %}
{% endblock%}
{% block content %}
    {% load static %}
    <div class="card text-center">
        <div class="card-header">
            {{Cotizacion.nombre}}
            <a href="{% url 'enviar_correo' Cotizacion.id %}" class="btn btn-primary">Enviar correo</a>
            <br>
            <a href="{% url 'editar_cotizacion' Cotizacion.id %}" class="btn btn-primary">Editar fecha respuesta</a>
             <br>
            <a href="{% url 'eliminar_cotizacion' Cotizacion.id %}" class="btn btn-primary">Eliminar cotización</a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Información general</h5>
          <p class="card-text">
            Centro costos: {{Cotizacion.proyecto_asociado.id}}
            <br>
            Nombre proyecto: {{Cotizacion.proyecto_asociado.nombre}}
            <br>
            Proveedor: {{Cotizacion.proveedor_asociado.nombre}}
            <br>
            Contacto: {{Cotizacion.contacto_asociado.nombre}} -  {{Cotizacion.contacto_asociado.correo}} 
          </p>
        </div>
    </div>
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Fechas general</h5>
        <p class="card-text">
          Fecha salida: {{Cotizacion.fecha_salida}}
          <br>
          Fecha respuesta: {{Cotizacion.fecha_respuesta}}
          <br>
          Fecha actualización precio: {{Cotizacion.fecha_actualizacion_precio}}
        </p>
      </div>
  </div>
</div>
<div class="card">
  <div class="card-header" id="headingTwo">
    <h2 class="mb-0">
      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Productos
      </button>
    </h2>
  </div>
    <div class="card-body">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Status</th>
                    <th scope="col">Fecha uso</th>
                    <th scope="col">Usuario modificación</th>
                </tr>
            </thead>
            <tbody>
              {% for fila in Productos %}
            <tr>
                <th>{{fila.proyecto.nombre}}</a></th>
                <th>{{fila.cantidades}}</th>
                <th>{{fila.status}}</th>
                <th>{{fila.fecha_uso}}</th>
                <th>{{fila.usuario_modificacion}}</th>
                
              {% endfor %}  
    </tr>
            </tbody>
    </table>
        

    
 

{% endblock %}
