{% extends "base/base2.html" %}
{% block content %} 
<head>
	<title>{{Cotizacion.nombre}}</title>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="{% static 'planificador/css/cotizacion.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>
    {% load static %}

    <div class="title">
      <h1>COTIZACIÓN</h1>
    </div>


  
<div class="container">
  <div class="table-container">
    <br>
    <div class="title_container">
      <h1>{{Cotizacion.nombre}}</h1>
    </div>
    <div class="boton_container">
      <a href="{% url 'enviar_correo' Cotizacion.id %}">
        <button class="button_editar">ENVIAR CORREO</button>
      </a>
      {% if not orden_compra %}
      <a href="{% url 'crear_orden' Cotizacion.id %}">
        <button class="button_editar">CREAR ORDEN DE COMPRA</button>
      </a>
      {% endif %}
      
        <a href="{% url 'editar_precios' Cotizacion.id %}">
          <button class="button_editar">EDITAR PRECIOS</button>
        </a>
  
      <a href="{% url 'eliminar_cotizacion' Cotizacion.id %}" onclick="return confirm('¿Estás seguro que quieres eliminar la cotización?')">
        <button class="button_eliminar">ELIMINAR</button>
    </a>
    </div>
    <div class="informacion_container">
      <h4>INFORMACIÓN GENERAL</h4>
    </div>
    <table class="table">
      <thead>
          <tr>
              <th>CENTRO COSTOS</th>
              <th>NOMBRE PROYECTO</th>
              <th>PROVEEDOR</th>
              <th>CONTACTOS</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td data-label="CENTRO COSTOS">{{Cotizacion.proyecto_asociado.id}}</td>
              <td data-label="NOMBRE PROYECTO"> {{Cotizacion.proyecto_asociado.nombre}}</td>
              <td data-label="PROVEEDOR"> {{Cotizacion.proveedor_asociado.nombre}}</td>
              <td data-label="CONTACTOS">
                <div class="dropdown">
                  <button class="dropbtn">CONTACTOS</button>
                  <div class="dropdown-content">
                    {% for i in contactos %}
                      <li> {{i.nombre}} -  {{i.correo}} </li>
                    {% endfor %}
                  </div>
                </div>
                </td>
          </tr>
      </tbody>
  </table>
  <br>
  {% if orden_compra %}
  <div class="informacion_container">
    <h4>INFORMACIÓN ORDEN COMPRA</h4>
  </div>
  <table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>CONDICIÓN ENTREGA</th>
            <th>CONDICIÓN PAGO</th>
            <th>STATUS LLEGADA</th>
            <th>STATUS FINANCIERO</th>
            <th>FORMA PAGO</th>
            <th>DESTINO FACTURA</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="ID">{{orden_compra.id}}</td>
            <td data-label="CONDICIÓN ENTREGA"> {{orden_compra.condicion_entrega}}</td>
            <td data-label="CONDICIÓN PAGO"> {{orden_compra.condiciones_pago}}</td>
            <td data-label="STATUS LLEGADA">{{orden_compra.status_llegada}}</td>
            <td data-label="STATUS FINANCIERO">{{orden_compra.status_financiero}}</td>
            <td data-label="FORMA PAGO">{{orden_compra.forma_pago}}</td>
            <td data-label="DESTINO FACTURA">{{orden_compra.destino_factura.nombre}}</td>
        </tr>
    </tbody>
</table>
{% endif %}
<br>
  <div class="informacion_container">
    <h4>FECHAS</h4>
  </div>
  <table class="table">
    <thead>
        <tr>
            <th>FECHA SALIDA</th>
            <th>FECHA RESPUESTA</th>
            <th>FECHA ACTUALIZACIÓN PRECIO</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="FECHA SALIDA">{{Cotizacion.fecha_salida}}</td>
            {% if Cotizacion.fecha_respuesta %}
            <td data-label="FECHA RESPUESTA"> {{Cotizacion.fecha_respuesta}}</td>
            {% else %}
            <td data-label="FECHA RESPUESTA"> No se ha ingresado fecha respuesta.</td>
            {% endif %}
            {% if Cotizacion.fecha_actualizacion_precio %}
            <td data-label="FECHA ACTUALIZACIÓN PRECIO"> {{Cotizacion.fecha_actualizacion_precio}}</td>
            {% else %}
            <td data-label="FECHA ACTUALIZACIÓN PRECIO"> No se ha actualizado el precio.</td>
            {% endif %}
        </tr>
    </tbody>
</table>
<br>
{% if not orden_compra %}
  <div class="informacion_container">
    <h4>PRODUCTOS</h4>
  </div>
    <table class="table2">
    <thead>
        <tr>
            <th>NOMBRE</th>
            <th>CANTIDAD</th>
            <th>ESTADO</th>
            <th>FECHA USO</th>
            <th>USUARIO MODIFICACIÓN</th>
        </tr>
    </thead>
    <tbody>
      {% for fila in Productos %}
          <tr>
              <td data-label="NOMBRE">{{fila.proyecto.nombre}}</td>
              <td data-label="CANTIDAD"> {{fila.cantidades}}</td>
              <td data-label="STATUS"> {{fila.status}}</td>
              <td data-label="FECHA USO"> {{fila.fecha_uso}}</td>
              <td data-label="USUARIO MODIFICACIÓN"> {{fila.usuario_modificacion}}</td>
              {% endfor %}  
          </tr>
    </tbody>
</table>
{% else %}
  <div class="informacion_container">
    <h4>PRODUCTOS</h4>
  </div>
    <table class="table2">
    <thead>
        <tr>
            <th>NOMBRE</th>
            <th>CANTIDAD</th>
            <th>ESTADO</th>
            <th>FECHA USO</th>
            <th>USUARIO MODIFICACIÓN</th>
        </tr>
    </thead>
    <tbody>
      {% for fila in productos_orden_compra %}
          <tr>
              <td data-label="NOMBRE">{{fila.producto_asociado_cantidades.proyecto.nombre}}</td>
              <td data-label="CANTIDAD"> {{fila.cantidades}}</td>
              <td data-label="STATUS"> {{fila.producto_asociado_cantidades.status}}</td>
              <td data-label="FECHA USO"> {{fila.producto_asociado_cantidades.fecha_uso}}</td>
              <td data-label="USUARIO MODIFICACIÓN"> {{fila.producto_asociado_cantidades.usuario_modificacion}}</td>
              {% endfor %}  
          </tr>
    </tbody>
</table>
{% endif %}
  </div>

  <script>
    document.querySelector("tr td .menu ul li").addEventListener("click", function(){
            this.classList.toggle("active");
    });
</script>
</div>

    
 

{% endblock %}
