{% extends "base/base2.html" %}
{% block content %} 
<head>
	<title>{{Producto.nombre}}</title>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="{% static 'planificador/css/nueva_cotizacion.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>

<div class="title">
  <h1>NUEVA COTIZACIÓN</h1>
</div>
<div class="subtitle">
  <h4>Cotizaciones | Nueva cotización</h4>
</div>
<div class="container">
  <form action="{{Proyectos.id}}" method="POST">{% csrf_token %}
    <div class="user-details">
      <div class="input-box">
        <br>
        <span class="details">NOMBRE REFERENCIAL (*) (**)</label>
        <input type="text" name="nombre" placeholder="Formato: YYZZZ" required>
        <span class="details"> (**) YYZZZ = YY: Año. ZZZ: Correlativo proyecto. WWW: Correlativo cotización (automático)</span>
      </div>
      
      <div class="table-container">
        {% for i in Proveedores %}
        <br>
        <div class="title_container">
          <div class="informacion_container">
            <h4>{{i.0.proyecto.nombre}} - {{i.0.cantidades}} {{i.0.proyecto.unidad}}</h4>
          </div>
        </div>
          <table class="table">
            <thead>
                <tr>
                    <th>PROVEEDOR</th>
                    <th>CONTACTO</th>
                </tr>
            </thead>
            <tbody>
              {% for producto in i.1 %}
                <tr>
                    <td data-label="NOMBRE"><input type="checkbox" name="contacto" value="{{i.0.proyecto.id}}**{{producto.0}}**{{producto.1}}">{{producto.0}}</td>
                    <td data-label="CONTACTO"> {{producto.1}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
</div>
<br>

  <button class="btn btn-primary" type="submit">Guardar</button>  

</div>    
</form>
{% endblock %}

