{% extends "base.html" %}
{% block title %} NUEVO PROVEEDOR {% endblock%}
{% block content %}
<h1>Editar precio - {{Proyecto.nombre}} - {{Producto.nombre}}</h1>

<form action="/proyectos/crear_nuevo_producto" method="POST" id="crear_nuevo_producto">{% csrf_token %}
  <div class="card">
      <div class="card-body">
          <table class="table">
              <thead class="thead-light">
                  <tr>
                      <th scope="col">Nombre</th>
                      <th scope="col">Status</th>
                      <th scope="col">Fecha uso</th>
                      <th scope="col">Cantidades</th>
                  </tr>
              </thead>
              <tbody>
              <tr>
                  <th>{{Producto.nombre}}
                    <input type="hidden" value="{{Proyecto.id}}" name="id_proyecto">
                    <input type="hidden" value="{{Producto.id}}" name="id_producto">
                  </th>
                
                <th>
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                        Estado
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                        <li><input type="hidden" value="no_hay" name="status"></li>
                        <li><input type="radio" value="Urgente" name="status">Urgente</li>
                        <li><input type="radio" value="Transporte" name="status">Transporte</li>
                        <li><input type="radio" value="Bodega" name="status">Bodega</li>
                        <li><input type="radio" value="Futuro" name="status">Futuro</li>
                      
                      </ul>
                    </div>
                    </th>
                  <th><input type="date" name="fecha_uso"></th>
                  <th><input type="text" name="cantidades"></th>
      </tr>
              </tbody>
      </table>
          
      <button class="btn btn-primary" type="submit">Guardar</button>
    </div>
  </div>
{% endblock%}