{% extends "base/base2.html" %}
{% block title %} EDITAR PRESUPUESTO {% endblock%}
{% block content %}

<head>
	<title>{{Proyecto.nombre}}</title>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com"> 
	<link href="{% static 'planificador/css/editar_proveedor.css' %}" rel="stylesheet">

</head>
  <form action="" method="POST">{% csrf_token %}
    <div class="container">
      <div class="title">PRESUPUESTO - {{Proyecto.nombre}}</div>
      <br>
      <div class="user-details">
        <div class="input-box">
            <span class="details">PRESUPUESTO TOTAL</label>
                <input type="text" class="form-control" id="cantidad" name="presupuesto_total" pattern="^[1-9]\d*(\.\d+)?$" value="{{Proyecto.presupuesto_total}}" required>
        </div>
        {% for i in presupuesto_subclases %}
        <div class="input-box">
            <span class="details">{{i.subclase.nombre}}</label>
                <input type="hidden" class="form-control" name="subclases_nombres" value="{{i.subclase.nombre}}">
                <input type="text" class="form-control" name="subclases" pattern="^[1-9]\d*(\.\d+)?$" value="{{i.valor}}"required>
        </div>
        {% endfor %}
      </div>
        <input class="button" type="Submit" value="Guardar">
    </div>
    </form>
    
{% endblock%}