{% extends "base/base2.html" %}
{% load widget_tweaks %}
{% block content %} 
<head>
	<title>EDITAR PRODUCTO PROYECTO</title>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="{% static 'planificador/css/editar_producto_proyecto.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>


<div class="title">
  <h1>EDITAR PRODUCTO PROYECTO</h1>
</div>
<form action="{{Proyectos.id}}" method="POST">{% csrf_token %}
  <div class="table-container">
  <table class="table">
    <thead>
        <tr>
            <th>NOMBRE</th>
            <th>STATUS</th>
            <th>FECHA USO</th>
            <th>CANTIDADES</th>
            <th>¿ELIMINAR?</th>
        </tr>
    </thead>
    <tbody>
        {% for fila in info_productos %}
        <tr>
            <td data-label="NOMBRE">
                <input type="hidden" value="{{fila.0.proyecto.nombre}}" name="nombre">
                <input type="hidden" value="{{fila.0.proyecto.id}}" name="id">
                {{fila.0.proyecto.nombre}}
            </td>
            <td data-label="STATUS">
              <div class="dropdown">
                <button class="dropbtn">{{fila.0.status}}</button>
                <div class="dropdown-content">
                  <input type="hidden" value="no_hay" name="{{fila.0.proyecto.id}}">
                  <a><li><input type="radio" value="Bodega" name="{{fila.0.proyecto.id}}"> Bodega</a></li>
                  <a><li><input type="radio" value="Futuro" name="{{fila.0.proyecto.id}}"> Futuro</a></li>
                </div>
              </div>
              
            
            </td>
             <td data-label="NOMBRE">
              <input type="date" name="fecha_uso" placeholder="Formato: YYYY-MM-DD">
            </td>
            <td data-label="CANTIDADES">
              {% if fila.0.cantidades %}
              <input type="text" value="{{fila.0.cantidades}}" name="cantidades">
              {% else %}
              <input type="text" value=0 name="cantidades">
              {% endif %}
            </td>
            <td data-label="¿ELIMINAR?">
              <input type="checkbox" value="{{fila.0.id}}" name="eliminar">
            </td>
           
            
            
        </tr>
        {% endfor %}
    </tbody>
      </table>
          
      <button class="button_añadir" type="submit">Guardar</button>
    </div>
  </div>
</div>
  </form>
  <script>
    document.querySelector("tr td .menu ul li").addEventListener("click", function(){
            this.classList.toggle("active");
    });
</script>
{% endblock%}