{% extends "base/base2.html" %}
{% block content %} 
<head>
	<title>EDITAR PRODUCTO PROYECTO</title>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'planificador/css/editar_producto_proyecto.css' %}" rel="stylesheet">
</head>


<div class="title">
  <h1>EDITAR PRODUCTO PROYECTO</h1>
</div>
<form action="{{Proyectos.id}}" method="POST">{% csrf_token %}
  <div class="table-container">
  <table class="table">
    <thead>
        <tr>
            <th>NOMBRE</th>
            <th>STATUS</th>
            <th>FECHA USO</th>
            <th>CANTIDADES</th>
            <th>¿ELIMINAR?</th>
        </tr>
    </thead>
    <tbody>
        {% for fila in info_productos %}
        <tr>
            <td data-label="NOMBRE">
                <input type="hidden" value="{{fila.0.proyecto.nombre}}" name="nombre">
                <input type="hidden" value="{{fila.0.proyecto.id}}" name="id">
                {{fila.0.proyecto.nombre}}
            </td>
            <td data-label="STATUS">
              <div class="dropdown">
                <button class="dropbtn">{{fila.0.status}}</button>
                <div class="dropdown-content">
                  <input type="hidden" value="no_hay" name="{{fila.0.proyecto.id}}">
                  {% if fila.0.status == "Urgente" %}
                  <a><li><input type="radio" value="Urgente" name="{{fila.0.proyecto.id}}" checked> Urgente</a></li>
                  <a><li><input type="radio" value="Futuro" name="{{fila.0.proyecto.id}}"> Futuro</a></li>
                  {% else %}
                  <a><li><input type="radio" value="Urgente" name="{{fila.0.proyecto.id}}"> Urgente</a></li>
                  <a><li><input type="radio" value="Futuro" name="{{fila.0.proyecto.id}}" checked> Futuro</a></li>
                  {% endif %}
                </div>
              </div>
            </td>
             <td data-label="FECHA USO">
              <input type="date" name="fecha_uso"  value="{{fila.0.fecha_uso|date:'Y-m-d'}}" placeholder="Formato: YYYY-MM-DD" >
            </td>
            <td data-label="CANTIDADES">
              {% if fila.0.cantidades %}
              <input type="text" value="{{fila.0.cantidades}}" name="cantidades">
              {% else %}
              <input type="text" value=0 name="cantidades">
              {% endif %}
            </td>
            <td data-label="¿ELIMINAR?">
              <input class="checkbox" type="checkbox" value="{{fila.0.id}}" name="eliminar">
            </td>
           
            
            
        </tr>
        {% endfor %}
    </tbody>
      </table>
      <button href="/proyectos/{{fila.0.proyecto.id}}/" class="button_añadir" type="submit">Cancelar</button>
      <button class="button_añadir" type="submit">Guardar</button>
    </div>
  </div>
</div>
  </form>
  <script>
    document.querySelector("tr td .menu ul li").addEventListener("click", function(){
            this.classList.toggle("active");
    });
</script>
{% endblock%}