{% extends "base/base2.html" %}
{% block title %} EDITAR COTIZACIÓN {% endblock%}
{% block content %}


<head>
	<title>Editar cotización - {{Cotizacion.nombre}}</title>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com"> 

	<link href="{% static 'planificador/css/editar_cotizacion.css' %}" rel="stylesheet">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>

<div class="container">
  <div class="title">EDITAR COTIZACIÓN</div>
  <br>
<form action="{{Cotizacion.id}}" method="POST">{% csrf_token %}
  <div class="user-details">
        <div class="input-box">
          <span class="details">NOMBRE COTIZACIÓN</label>
          <input type="text" name="nombre" value="{{Cotizacion.nombre}}" required>
        </div>
        <div class="input-box">
          <span class="details">FECHA RESPUESTA</label>
            {% if fecha_respuesta %}
            <input type="text" name="fecha_respuesta" placeholder="Fecha en que respondió el proveedor. Formato: YYYY-MM-DD" value="{{Cotizacion.fecha_respuesta}}" required>
            {% else %}
            <input type="text" name="fecha_respuesta" placeholder="Fecha respuesta correo. Formato: YYYY-MM-DD" required>
            {% endif %}
        </div>
      </div>
      <br>
      <button class="button" type="submit">Guardar</button>
    </div>
  
   
    </form>
  
  </div>
{% endblock%}