{% extends "base.html" %}
{% block title %} NUEVO PROVEEDOR {% endblock%}
{% block content %}
<h1>Editar información productos</h1>

<form action="{{Proyectos.id}}" method="POST">{% csrf_token %}
  <div class="card">
      <div class="card-body">
          <table class="table">
              <thead class="thead-light">
                  <tr>
            
                      <th scope="col">Nombre</th>
                      <th scope="col">Proveedor</th>
                      <th scope="col">Status</th>
                      <th scope="col">Fecha uso</th>
                      <th scope="col">Cantidades</th>
                  </tr>
              </thead>
              <tbody>
                {% for fila in info_productos %}
              <tr>

                  <th><input type="hidden" value="{{fila.0.proyecto.nombre}}" name="nombre">
                    <input type="hidden" value="{{fila.0.proyecto.id}}" name="id">{{fila.0.proyecto.nombre}}</th>
                    <div class="dropdown">
                        <th>
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        {{fila.1.nombre_proveedor}}
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><input type="hidden" value="no_hay" name="{{fila.0.proyecto.nombre}}"></li>
                        {% for i in fila.2 %}
                            {% if i.nombre == fila.1.nombre_proveedor %}
                                <li><input type="radio" value="{{i.nombre}}" name="{{fila.0.proyecto.nombre}}" checked>{{i.nombre}}</li>
                            {% else %}
                              <li><input type="radio" value="{{i.nombre}}" name="{{fila.0.proyecto.nombre}}">{{i.nombre}}</li>
                            {% endif %}
                        {% endfor %}
                      </ul>
                    </div>
                  </th>
                  <th>
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                        {{fila.0.status}}
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                        <li><input type="hidden" value="no_hay" name="{{fila.0.proyecto.id}}"></li>
                        <li><input type="radio" value="Urgente" name="{{fila.0.proyecto.id}}">Urgente</li>
                        <li><input type="radio" value="Transporte" name="{{fila.0.proyecto.id}}">Transporte</li>
                        <li><input type="radio" value="Bodega" name="{{fila.0.proyecto.id}}">Bodega</li>
                        <li><input type="radio" value="Futuro" name="{{fila.0.proyecto.id}}">Futuro</li>
                      
                      </ul>
                    </div>
                    </th>
                  <th><input type="date" value="{{fila.0.fecha_uso}}" name="fecha_uso"></th>
                  <th><input type="text" value="{{fila.0.cantidades}}" name="cantidades"></th>
                  
                {% endfor %}  
      </tr>
              </tbody>
      </table>
          
      <button class="btn btn-primary" type="submit">Guardar</button>
    </div>
  </div>
  </form>
{% endblock%}