{% extends "base.html" %}
{% block title %} PROVEEDOR {% endblock%}
{% block content %}


<form method="get">
    {{myFilter.form.as_p}}
    <input type="hidden" value="{{Proyecto.id}}" name="centro_costos">
    <input type="hidden" value="{{Proyecto.nombre}}" name="nombre">
    <input type="hidden" value="{{Proyecto.tipo_cambio}}" name="tipo_cambio">
    <input type="hidden" value="{{Proyecto.valor_cambio}}" name="valor_cambio">
    <input type="hidden" value="{{Proyecto.fecha_inicio}}" name="fecha_inicio">
    <input type="hidden" value="{{Proyecto.fecha_termino}}" name="fecha_termino">
<button class="btn btn-primary" type="submit">Search</button>
</form>
<form action="guardar_filtro" method="GET">
    <input type="hidden" value="{{Proyecto.id}}" name="centro_costos"> 
    <br>
    <input type="hidden" value="{{Proyecto.nombre}}" name="nombre"> 

    <h5>PRODUCTOS</h5>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Clase</th>
                <th scope="col">Sub-clase</th>
            </tr>
        </thead>
        <tbody>
          {% for obj in myFilter.qs %}
        <tr>
            <th><input type="checkbox" name="productos" value="{{obj.nombre_producto}}">{{obj.nombre_producto}}</th>
            <th>{{obj.nombre_clase}}</th>
            <th>{{obj.nombre_subclase}}</th>
          {% endfor %}
        </tr>
        </tbody>
      </table>
    <br>
    <br>
    <h5>PRODUCTOS SELECCIONADOS</h5>
    {% for i in productos_proyecto %}
        {{i}}
    <br>
    {% endfor %}
<button class="btn btn-primary" type="submit">Guardar productos</button>
</form>
<form action="lista_productos" method="GET">
    <input type="hidden" value="{{Proyecto.id}}" name="centro_costos">
    {% for i in productos_proyecto %}
     <input type="hidden" name="lista_productos" value="{{i.nombre}}">
    {% endfor %}
    <button class="btn btn-primary" type="submit">Elegir cantidades productos</button>
</form>


{% endblock%}
