{% extends "base/base2.html" %}
{% block content %} 
<head>
	<title>ERROR CENTRO COSTOS</title>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'planificador/css/resultado_planilla.css' %}" rel="stylesheet">
</head>

<div class="title">
    <h1>ERROR CENTRO COSTOS</h1>
</div>
<br>
<div class="container">  
       
            <h3 style="padding-left: 15px;">EL CENTRO DE COSTOS YA EXISTE.</h3>
   
</div>
{% endblock %}