{% extends "base/base2.html" %}
{% block title %} NUEVA ORDEN COMPRA {% endblock%}
{% block content %}

<head>
	<title>Crear producto</title>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{% static 'planificador/css/crear_orden_compra.css' %}" rel="stylesheet">
</head>


<div class="container">
<form action="{{cotizacion_padre.id}}" method="POST">{% csrf_token %}
  <div class="title">ENVIAR A CREAR ORDEN COMPRA</div>
  <br>
  <form action="agregar_nuevo" method="GET">
    <div class="user-details">
        <div class="input-box">
        <span class="details">FACTURAR A:</label>
        <select class="custom-select" id="empresa" name="empresa" required>
            <option selected>ELEGIR EMPRESA</option>
            <option value="76021113-3">INGENIERÍA Y SERVICIOS RMC LIMITADA</option>
            <option value="77241485-4">RMC INDUSTRIAL SPA</option>
            <option value="77241488-9">RMC EQUIPMENTS SPA</option>
            <option value="77289504-6">RMC CORPORATE SPA</option>
            <option value="77077958-8">RMC LABS SPA</option>
        </select>
        </div>
        <div class="input-box">
            <span class="details">ENVIAR CORREO A:</label>
            <select class="custom-select" id="enviar" name="enviar" required>
                <option value="todos">Todos los cotizadores</option>
                {% for i in cotizadores %}
                <option value="{{i.email}}">{{i.first_name}} {{i.last_name}}</option>
                {% endfor %}
            </select>
            </div>
        <div class="input-box">
            <span class="details">OBSERVACIONES</label>
            <input type="text" name="observaciones">
          </div>
    </div>
    <div class="table-container">
        
          <div class="title_container">
            <h1 style="font-size:20px;">PRODUCTOS</h1>
          </div>
          <table class="table">
            <thead>
                <tr>
                    <th>ELECCIÓN</th>
                    <th>NOMBRE</th>
                    <th>CANTIDAD</th>
                    <th>UNIDAD</th>
                    <th>COTIZACION</th>
                    <th>PROVEEDOR</th>
                </tr>
            </thead>
            <tbody>
              {% for fila in productos %}
                <tr>
                    <td data-label="ELECCIÓN">
                        <input type="checkbox" value="{{fila.0.proyecto.nombre}}*{{fila.1.nombre_cotizacion}}*{{fila.1.id}}" name="nombre">
                    </td>
                    <td data-label="NOMBRE">
                        {{fila.0.proyecto.nombre}}
                    </td>
                    <td data-label="CANTIDAD"> 
                        <input type="text" value="{{fila.0.cantidades}}" name="{{fila.1.id}}">
                    </td>
                    <td data-label="UNIDAD"> 
                        {{fila.0.proyecto.unidad}}
                    </td>
                    <td data-label="COTIZACION"> 
                        {{fila.1.nombre_cotizacion}}
                    </td>
                    <td data-label="PROVEEDOR"> 
                        {{fila.1.nombre_proveedor}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    <br>
      <button class="button" type="submit">CREAR</button>
  </form>
  </div>
 
{% endblock%}