{% extends "base.html" %}
{% block title %} PROVEEDOR {% endblock%}
{% block content %}


<form action="lista_proveedores" method="GET">
    <h1>ELECCIÓN CANTIDADES DE PRODUCTOS</h1>
    <input type="hidden" value="{{Proyecto.id}}" name="centro_costos"> 
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Nombre producto</th>
                <th scope="col">Unidad</th>
                <th scope="col">Cantidad</th>
               
            </tr>
        </thead>
        <tbody>
            {% for fila in Productos %}
            <tr>
              <th>{{fila.0.nombre}}
                <input type="hidden" name="id_producto" value="{{fila.0.nombre}}">
              </th>
              <th>{{fila.0.unidad}}</th>
              <th><input type="text" class="form-control" id="cantidad" name="cantidad"></th>
              {% if forloop.last %}
              <input type="hidden" name="numero_productos" value="{{forloop.counter}}">
                {% endif %}
                  {% endfor %}
            </tr>
        </tbody>
</table>
    <button class="btn btn-secondary btn-lg btn-block" type="submit">Guardar proyecto</button>
    </form>

{% endblock%}
