{% extends "base/base2.html" %}
{% block title %} NUEVO PROVEEDOR {% endblock%}
{% block content %}


<head>
	<title>Crear proyecto</title>
	{% load static %}
	<meta charset="UTF-8">
	<link href="{% static 'planificador/css/planificador.css' %}" rel="stylesheet">
</head>

<div class="container">
    <div class="title">PLANIFICADOR PROYECTO</div>
    <br>
<form action="mostrar_filtro" method="GET">
    <br>
    <div class="user-details">
        <div class="input-box">
          <span class="details">NÚMERO DE PROPUESTA (*) (**)</label>
          <input type="text" name="centro_costos" placeholder="Formato: PXXXX-YYZZZ" required>
        </div>
        <div class="input-box">
          <span class="details">NOMBRE (*)</label>
          <input type="text" name="nombre" placeholder="Nombre referencial proyecto." required>
        </div>
        <div class="input-box">
          <span class="details">DIVISA</label>
          <input type="text" name="tipo_cambio" placeholder="Abreviatura del tipo de cambio. Ej: USD, EUR, CLP, etc.">
        </div>
        <div class="input-box">
          <span class="details">VALOR CAMBIO</label>
          <input type="text" name="valor_cambio" placeholder="Valor del cambio en pesos chilenos.">
        </div>
        <div class="input-box">
          <span class="details">FECHA INICIO PROYECTO (*)</label>
          <input type="date" name="fecha_inicio" placeholder="Formato: YYYY-MM-DD" required>
        </div>
        <div class="input-box">
          <span class="details">FECHA TÉRMINO PROYECTO (*)</label>
          <input type="date" name="fecha_termino" placeholder="Formato: YYYY-MM-DD" required>
        </div>
      (**) PXXXX-YYZZZ = XXXX = Código único de cliente. YY = Año. ZZZ = Correlativo número proyecto (001 - 999).
      </div>
      <br>

    <button class="button" type="submit">Elegir cantidades producto</button>
    </form>
</div>

{% endblock%}
