{% extends "base.html" %}
{% block title %}
{% endblock%}
{% block content %}
    {% load static %}
    <div class="card text-center">
        <div class="card-header">
            {{Proyecto.nombre}} - {{Proyecto.estado}}
            <br>
        </div>
        <div class="card-body">
          <h5 class="card-title">Información general</h5>
          <p class="card-text">
            Centro Costos: {{Proyecto.id}}
            <br>
            Precio Final: {{precio_final}} PONER PRECIO
            <br>
            Creador: {{Proyecto.creador}}
          </p>
        </div>
    </div>
    <div class="card text-center">
      
      <div class="card-body">
        <h5 class="card-title">Fechas general</h5>
        <p class="card-text">
          Fecha creación: {{Proyecto.fecha_creacion}}
          <br>
          Fecha inicio: {{Proyecto.fecha_inicio}}
          <br>
          Fecha término: {{Proyecto.fecha_final}}
        </p>
      </div>
  </div>
</div>
<div class="card">
  <div class="card-header" id="headingTwo">
    <h2 class="mb-0">
      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Productos
      </button>
      <a href="{% url 'agregar_producto' Proyecto.id %}" class="btn btn-primary">Agregar producto</a>
    </h2>
  </div>
  <th><a href="{% url 'editar_producto_proyecto' Proyecto.id %}" class="btn btn-primary">Editar/Elimnar productos</a></th>
    <div class="card-body">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Status</th>
                    <th scope="col">Fecha uso</th>
                    <th scope="col">Usuario modificación</th>
                </tr>
            </thead>
            <tbody>
              {% for fila in Productos %}
            <tr>
                <th>{{fila.proyecto.nombre}}</a></th>
                <th>{{fila.cantidades}}</th>
                <th>{{fila.status}}</th>
                <th>{{fila.fecha_uso}}</th>
                <th>{{fila.usuario_modificacion}}</th>
                
              {% endfor %}  
    </tr>
            </tbody>
    </table>
        

  </div>
</div>
<div class="card">
  <div class="card-header" id="headingTwo">
    <h2 class="mb-0">
      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Cotizaciones
      </button>
    </h2>
  </div>
 
  <th><a href="{% url 'agregar_cotizacion' Proyecto.id %}" class="btn btn-primary">Agregar cotizacion</a></th>
    <div class="card-body">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Nombre referencial</th>
                    <th scope="col">Proveedor</th>
                    <th scope="col">Productos cotizados</th>
                    <th scope="col">Fecha salida</th>
                    <th scope="col">Fecha respuesta</th>
                    <th scope="col">Fecha actualizacion precio</th>
                    <th scope="col">Demora respuesta</th>
                    <th scope="col">Demora ingreso precio</th>
                    <th scope="col">Usuario modificación</th>
                </tr>
            </thead>
            <tbody>
              {% for fila in cotizaciones %}
            <tr>
                <th><a href="{% url 'mostrar_cotizacion' fila.0.id %}" class="btn btn-primary"> {{fila.0.nombre}}</a></th>
                <th>{{fila.0.proveedor_asociado.nombre}}</th>
                <th>
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                      Productos
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                      {% for i in fila.1 %}
                      <a class="dropdown-item"></a> {{i.0.nombre}}: {{i.1.cantidades}} {{i.0.unidad}}</a>
                      {% endfor %}
                    </ul>
                  </div>
                </th>
                <th>{{fila.0.fecha_salida}}</th>
                <th>{{fila.0.fecha_respuesta}}</th>
                <th>{{fila.0.fecha_actualizacion_precio}}</th>
                <th>{{fila.2}}</th>
                <th>{{fila.3}}</th>
                <th>{{fila.0.usuario_modificacion}}</th>
                
              {% endfor %}  
    </tr>
            </tbody>
    </table>
        

  </div>
</div>

<div class="card">
  <div class="card-header" id="headingTwo">
    <h2 class="mb-0">
      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Productos cotizados
      </button>
    </h2>
  </div>
  <th><a href="{% url 'editar_precios' Proyecto.id %}" class="btn btn-primary">Editar precios</a></th>
    <div class="card-body">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Sub-clase</th>
                    <th scope="col">Precio unitario</th>
                    <th scope="col">Proveedor</th>
                    <th scope="col">Cotización</th>
                    <th scope="col">Usuario modificación</th>
                </tr>
            </thead>
            <tbody>
              {% for fila1 in info_productos %}
              {% for fila in fila1 %}
            <tr>
                <th>{{fila.0.nombre}}</a></th>
                <th>{{fila.1.0.nombre}}</th>
                <th>
                  {% if fila.3 != " " %}
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                      {{fila.3.valor}} {{fila.3.tipo_cambio}}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                      <li><a class="dropdown-item"></a> - Valor: {{fila.3.valor}}</a></li>
                      <li><a class="dropdown-item"></a> - Moneda: {{fila.3.tipo_cambio}}</a></li>
                      <li><a class="dropdown-item"></a> - Valor importación: {{fila.3.valor_importación}}</a></li>
                      <li><a class="dropdown-item"></a> - Tipo cambio: {{fila.3.valor_cambio}}</a></li>
                      <li><a class="dropdown-item"></a> - Fecha: {{fila.3.fecha}}</a></li>
                      <li><a class="dropdown-item"></a> - Proveedor: {{fila.3.nombre_proveedor}}</a></li>
                      <li><a class="dropdown-item"></a> - Comentarios: {{fila.3.comentarios}}</a></li>
                    </ul>
                  </div>
                  {% endif %}
                </th>
                <th>{{fila.4.proveedor_asociado.nombre}}</th>
                <th>{{fila.4.nombre}}</th>
                <th>{{fila.3.usuario_modificacion}}</th>
                {% endfor %} 
              {% endfor %}  
    </tr>
            </tbody>
    </table>
        

  </div>
</div>
 

{% endblock %}
