{% extends "base/base2.html" %}
{% block content %} 
<head>
	<title>{{Proyecto.nombre}}</title>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="{% static 'planificador/css/proyecto.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
</head>

<div class="title">
  <h1>{{Proyecto.nombre}}</h1>
</div>
<br>
<br>
<div class="container">
  <div class="table-container">
    <div class="informacion_container">
      <h4>INFORMACIÓN GENERAL</h4>
    </div>
    <div class="boton_container">
      <a href="{% url 'info_gasto' Proyecto.id %}">
        <button class="button_editar">REPORTABILIDAD GASTOS</button>
      </a>
      {% if not Proyecto.consolidacion %}
      <a href="{% url 'editar_presupuesto' Proyecto.id %}">
        <button class="button_editar">EDITAR COSTO/ULITIDADES</button>
      </a>
      {% endif %}
      <a href="{% url 'subir_gasto' Proyecto.id %}">
        <button class="button_editar">CARGAR RENDICIONES</button>
      </a>
      {% if not Proyecto.consolidacion %}
      <a href="{% url 'consolidar_proyecto' Proyecto.id %}">
        <button class="button_editar">CONSOLIDAR PROYECTO</button>
      </a>
      {% endif %}
    </div>
    <table class="table">
      <thead>
          <tr>
              <th>CENTRO COSTOS</th>
              <th>COSTO FINAL</th>
              <th>UTILIDAD</th>
              <th>ESTADO</th>
              <th>CREADOR</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td data-label="CENTRO COSTOS">{{Proyecto.id}}</td>
              <td data-label="PRECIO FINAL"> $ {{Proyecto.presupuesto_total}} CLP</td>
              <td data-label="UTILIDAD"> $ {{utilidad_subclase}}</td>
              <td data-label="ESTADO"> {{Proyecto.estado}}</td>
              <td data-label="CREADOR"> {{Proyecto.creador}}</td>
          </tr>
      </tbody>
  </table>
  </div>
  <br>
<br>
  <div class="table-container">
  <div class="informacion_container">
    <h4>INFORMACIÓN FECHAS</h4>
  </div>
  {% if rol == "Admin" or rol == "Planificador"%}
  <div class="boton_container">
    <a href="{% url 'editar_fechas' Proyecto.id %}">
      <button class="button_editar">EDITAR FECHAS</button>
    </a>
  </div>
  {% else %}
  <br>
  {% endif %}
  <table class="table">
    <thead>
        <tr>
            <th>FECHA CREACIÓN</th>
            <th>FECHA INICIO</th>
            <th>FECHA TÉRMINO</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="FECHA CREACIÓN">{{Proyecto.fecha_creacion|date:'Y-m-d'}}</td>
            <td data-label="FECHA INICIO"> {{Proyecto.fecha_inicio|date:'Y-m-d'}}</td>
            <td data-label="FECHA TÉRMINO"> {{Proyecto.fecha_final|date:'Y-m-d'}}</td>
        </tr>
    </tbody>
</table>
</div>
<br>
<div class="table-container">
  <div class="informacion_container">
    <h4>PRODUCTOS</h4>
  </div>
  {% if rol == "Admin" or rol == "Planificador"%}
  <div class="boton_container">
    <a href="{% url 'agregar_producto' Proyecto.id %}">
      <button class="button_editar">AGREGAR</button>
    </a>
    <a href="{% url 'nueva_importacion' Proyecto.id %}">
      <button class="button_editar">AGREGAR IMPORTACIÓN</button>
    </a>
    <a href="{% url 'editar_producto_proyecto' Proyecto.id %}">
      <button class="button_eliminar">EDITAR/ELIMINAR</button>
  </a>
  <a href="{% url 'agregar_calculo' Proyecto.id %}">
    <button class="button_eliminar">AGREGAR INSTALACIÓN PROYECTO</button>
</a>
  </div>
  {% else %}
  <br>
  {% endif %}
    <table class="table2">
    <thead>
        <tr>
            <th>NOMBRE</th>
            <th>CANTIDAD</th>
            <th>ÚLTIMO PRECIO REFERENCIAL</th>
            <th>ESTADO</th>
            <th>ESTADO COTIZACIÓN</th>
            <th>FECHA USO</th>
            <th>USUARIO MODIFICACIÓN</th>
        </tr>
    </thead>
    <tbody>
      {% for fila in Productos %}
        <tr>
            <td data-label="NOMBRE">{{fila.0.proyecto.nombre}}</td>
            {% if fila.0.cantidades %}
                <td data-label="CANTIDAD"> {{fila.0.cantidades}}</td>
            {% else %}
              <td data-label="CANTIDAD"> 0</td>
            {% endif %}
            {% if fila.1 != "No" %}
              <td data-label="ÚLTIMO PRECIO REFERENCIA">{{fila.1.valor}} ({{fila.1.tipo_cambio}}) - {{fila.1.nombre_proveedor}} - {{fila.1.fecha|date:'Y-m-d'}}</td>
            {% else %}
              <td data-label="ÚLTIMO PRECIO REFERENCIA">No hay precios.</td>
            {% endif %}
            {% if fila.0.status %}
              <td data-label="ESTADO">{{fila.0.status}}</td>
            {% else %}
              <td data-label="ESTADO">Futuro</td>
            {% endif %}
            {% if fila.0.estado_cotizacion == "No" %}
              <td style="color:red" data-label="ESTADO COTIZACIÓN"> {{fila.0.estado_cotizacion}}</td>
            {% elif fila.0.estado_cotizacion == "Precio" %}
              <td style="color:green" data-label="ESTADO COTIZACIÓN"> {{fila.0.estado_cotizacion}}</td>
            {% elif fila.0.estado_cotizacion == "Creada" %}
              <td style="color:orange" data-label="ESTADO COTIZACIÓN"> {{fila.0.estado_cotizacion}}</td>
            {% endif %}
            {% if fila.0.fecha_uso %}
                {% if fila.0.estado_tiempo == "Verde" %}
                  <td style="color:green" data-label="FECHA USO"> {{fila.0.fecha_uso|date:'Y-m-d'}}</td>
                {% elif fila.0.estado_tiempo == "Naranjo" %}
                  <td style="color:orange" data-label="FECHA USO"> {{fila.0.fecha_uso|date:'Y-m-d'}}</td>
                {% elif fila.0.estado_tiempo == "Rojo" %}
                  <td style="color:red" data-label="FECHA USO"> {{fila.0.fecha_uso|date:'Y-m-d'}}</td>
                {% elif fila.0.estado_tiempo == "No" %}
                  <td style="color:blue" data-label="FECHA USO"> {{fila.0.fecha_uso|date:'Y-m-d'}} (No es posible)</td>
                {% endif %}
            {% else %}
              <td data-label="FECHA USO"> No se ha ingresado.</td>
            {% endif %}
              <td data-label="USUARIO MODIFICACIÓN"> {{fila.0.usuario_modificacion}}</td>
            {% endfor %}  
        </tr>
    </tbody>
</table>
<br>
<div class="table-container">
  <div class="informacion_container">
    <h4>HORAS HOMBRE</h4>
  </div>
    <table class="table2">
    <thead>
        <tr>
            <th>NOMBRE</th>
            <th>CANTIDAD</th>
        </tr>
    </thead>
    <tbody>
      {% for key, value in hh1.items %}
        <tr>
            <td data-label="NOMBRE">{{key}}</td>
            <td data-label="NOMBRE">{{value}}</td>
        </tr>
      {% endfor %}
    </tbody>
</table>

</div>
<br>
<br>
<div class="table-container">
  <div class="informacion_container">
    <h4>COTIZACIONES</h4>
  </div>
  {% if rol == "Admin" or rol == "Cotizador"%}
  <div class="boton_container">
    <a href="{% url 'agregar_cotizacion' Proyecto.id %}">
      <button class="button_editar">AGREGAR</button>
    </a>
    <a href="{% url 'agregar_orden_interna' Proyecto.id %}">
      <button class="button_editar">AGREGAR ORDEN DE COMPRA INTERNA</button>
    </a>
  </div>
 
    
  
  {% else %}
  <br>
  {% endif %}
    <table class="table2">
    <thead>
        <tr>
            <th>NOMBRE</th>
            <th>PROVEEDOR</th>
            <th>PRODUCTOS ASOCIADOS</th>
            <th>FECHA SALIDA</th>
            <th>FECHA RESPUESTA</th>
            <th>FECHA ACTUALIZACIÓN PRECIO</th>
            <th>DEMORA RESPUESTA</th>
            <th>DEMORA INGRESO PRECIO</th>
            <th>USUARIO MODIFICACIÓN</th>
        </tr>
    </thead>
    <tbody>
      {% for fila in cotizaciones %}
        <tr>
          <script>
            document.querySelector("tr td .menu ul li").addEventListener("click", function(){
                    this.classList.toggle("active");
            });
        </script>
            <td data-label="NOMBRE"><a href="{% url 'mostrar_cotizacion' fila.0.id %}"> {{fila.0.nombre}}
            </a></td>
            <td data-label="PROVEEDOR"> {{fila.0.proveedor_asociado.nombre}}</td>
            <td data-label="PRODUCTOS ASOCIADOS">
              {% if fila.1 %}
              {% if not fila.0.orden_compra %}
              <button onclick="myFunction('{{fila.0.id}}')" class="w3-button w3-block w3-left-align">
                +</button>
                <div id="{{fila.0.id}}" class="w3-container w3-hide">
                  <table class="table2">
                    <thead>
                      <tr>
                          <th>NOMBRE</th>
                          <th>CANTIDAD</th>
                          <th>UNIDAD</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for i in fila.1 %}
                        <tr>
                          <td>{{i.proyecto.nombre}}</td>
                          <td >{{i.cantidades}}</td>
                          <td >{{i.proyecto.unidad}}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                  </table>
                
                </div>
                {% else %}
                ORDEN COMPRA
                {% endif %}
                {% endif %}
            </td>
            {% if fila.0.fecha_salida %}
              {% if fila.2.2 == "Rojo" %}
             <td style="color:red" data-label="FECHA SALIDA"> {{fila.0.fecha_salida|date:'Y-m-d'}}</td>
              {% elif fila.2.2 == "Naranjo" %}
              <td style="color:orange" data-label="FECHA SALIDA"> {{fila.0.fecha_salida|date:'Y-m-d'}}</td>
              {% elif fila.2.2 == "Verde" %}
              <td style="color:green" data-label="FECHA SALIDA"> {{fila.0.fecha_salida|date:'Y-m-d'}}</td>
              {% else %}
              <td>{{fila.4}}</td>
              {% endif %}
            {% else %}
              <td data-label="FECHA SALIDA"> No se ha ingresado.</td>
            {% endif %}
            {% if fila.0.fecha_respuesta %}
            <td data-label="FECHA RESPUESTA"> {{fila.0.fecha_respuesta|date:'Y-m-d'}}</td>
            {% else %}
            <td data-label="FECHA RESPUESTA"> No se ha ingresado.</td>
            {% endif %}
            {% if fila.0.fecha_actualizacion_precio %}
            <td data-label="FECHA ACTUALIZACIÓN PRECIO">{{fila.0.fecha_actualizacion_precio|date:'Y-m-d'}}</td>
            {% else %}
            <td data-label="FECHA ACTUALIZACIÓN PRECIO"> No se ha ingresado.</td>
            {% endif %}
            {% if fila.2.0 != None %}
            <td data-label="DEMORA RESPUESTA"> {{fila.2.0.days}} días</td>
            {% else %}
            <td data-label="DEMORA RESPUESTA"> No se ha ingresado respuesta.</td>
            {% endif %}
            {% if fila.2.1 %}
            <td data-label="DEMORA INGRESO PRECIO">{{fila.2.1.days}} días</td>
            {% else %}
            <td data-label="DEMORA INGRESO PRECIO">No se ha ingresado precio.</td>
            {% endif %}
            <td data-label="USUARIO MODIFICACIÓN">{{fila.0.usuario_modificacion}}</td>
            {% endfor %}  
        </tr>
    </tbody>
</table>
</div>
<br>
<br>
<div class="table-container">
  <div class="informacion_container">
    <h4>PRODUCTOS COTIZADOS</h4>
  </div>
  <div class="boton_container">
    <a href="{% url 'informar_orden_compra' Proyecto.id %}">
      <button class="button_editar">INFORMAR ORDEN DE COMPRA</button>
    </a>
  </div>
    <table class="table2">
    <thead>
        <tr>
            <th>NOMBRE</th>
            <th>PRECIO</th>
            <th>FECHA</th>
            <th>PROVEEDOR</th>
            <th>COTIZACIÓN</th>
            <th>USUARIO MODIFICACIÓN</th>
        </tr>
    </thead>
    <tbody>
      {% for fila in info_productos %}
        <tr>
            <td data-label="NOMBRE">{{fila.0.nombre}}</a></td>
            <td data-label="PRECIO UNITARIO">
             {{fila.1.valor}} {{fila.1.tipo_cambio}}
            </td>
            <td data-label="FECHA">
              {{fila.1.fecha|date:'Y-m-d'}}
             </td>
            <td data-label="PROVEEDOR">{{fila.1.nombre_proveedor}}</td>
            <td data-label="COTIZACIÓN">{{fila.1.nombre_cotizacion}}</td>
            {% if fila.1.usuario_modificacion %}
              <td data-label="USUARIO MODIFICACIÓN">{{fila.1.usuario_modificacion}}</td>
            {% else %}
            <td data-label="USUARIO MODIFICACIÓN">Precio ingresado por planilla.</td>
            {% endif %}

            {% endfor %}  
        </tr>
    </tbody>
</table>
</div>
  </div>

    <script>
      document.querySelector("tr td .menu ul li").addEventListener("click", function(){
              this.classList.toggle("active");
      });
  </script>

<script>
  function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
    } else {
      x.className = x.className.replace(" w3-show", "");
    }
  }
  </script>

{% endblock %}
